{% INCLUDE 'overall_header.html' %}

<a name="maincontent"></a>

{% if S_SETTING %}

	<form id="acp_formel" method="post" action="{{ U_ACTION }}">

	<fieldset class="tabulated">
	<legend>{{ lang('ACP_F1_SETTINGS') }}</legend>

	<h1>{{ lang('ACP_F1_SETTINGS') }}</h1>
	<p>{{ lang('ACP_F1_SETTINGS_EXPLAIN') }}</p>

		<table class="table1 zebra-table">
			<thead>
				<tr>
					<th colspan="2">{{ lang('ACP_F1_SETTINGS_CONFIG') }}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_MODERATOR') }}</strong><br />{{ lang('ACP_F1_SETTINGS_MODERATOR_EXPLAIN') }}</td>
					<td>
						<select name="mod_id">
						{% for moderator in moderators %}
						<option value="{{ moderator.USER_ID }}" {{ moderator.PRESELECTED }}>{{ moderator.USERNAME }}</option>
						{% endfor %}
						</select>
					</td>
				</tr>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_ACCESS_GROUP') }}</strong><br />{{ lang('ACP_F1_SETTINGS_ACCESS_GROUP_EXPLAIN') }}</td>
					<td>
						<select name="restrict_to">
						{% for accessgroup in accessgroups %}
						<option value="{{ accessgroup.GROUP_ID }}" {{ accessgroup.PRESELECTED }}>{{ accessgroup.GROUPNAME }}</option>
						{% endfor %}
						</select>
					</td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTING_GUEST_VIEWING') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTING_GUEST_VIEWING_EXPLAIN') }}</td>
					<td><input type="radio" class="radio" name="guest_viewing" value="1" {% if GUEST_VIEWING %}checked{% endif %}/> {{ lang('YES') }} &nbsp;
						<input type="radio" class="radio" name="guest_viewing" value="0" {% if not GUEST_VIEWING %}checked{% endif %} /> {{ lang('NO') }}
					</td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_REMINDER_ENABLED') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_REMINDER_ENABLED_EXPLAIN') }}</td>
					<td><input type="radio" class="radio" name="reminder_enabled" value="1" {% if REMINDER_ENABLED %}checked{% endif %}/> {{ lang('YES') }} &nbsp;
						<input type="radio" class="radio" name="reminder_enabled" value="0" {% if not REMINDER_ENABLED %}checked{% endif %} /> {{ lang('NO') }}
					</td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_OFFSET') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_OFFSET_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="30" name="deadline_offset" value="{{ SETTING_OFFSET }}" /></td>
				</tr>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_RACEOFFSET') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_RACEOFFSET_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="30" name="event_change" value="{{ SETTING_RACEOFFSET }}" /></td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_FORUM') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_FORUM_EXPLAIN') }}</td>
					<td>
						<select name="forum_id">
						{% for forum in forums %}
						<option value="{{ forum.FORUM_ID }}" {{ forum.PRESELECTED }}>{{ forum.FORUMNAME }}</option>
						{% endfor %}
						</select>
					</td>
				</tr>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_SHOW_PROFILE') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_SHOW_PROFILE_EXPLAIN') }}</td>
					<td><input type="radio" class="radio" name="show_in_profile" value="1" {% if SHOW_PROFILE %}checked{% endif %}/> {{ lang('YES') }} &nbsp;
						<input type="radio" class="radio" name="show_in_profile" value="0" {% if not SHOW_PROFILE %}checked{% endif %} /> {{ lang('NO') }}
					</td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_SHOW_VIEWTOPIC') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_SHOW_VIEWTOPIC_EXPLAIN') }}</td>
					<td><input type="radio" class="radio" name="show_in_viewtopic" value="1" {% if SHOW_VIEWTOPIC %}checked{% endif %}/> {{ lang('YES') }} &nbsp;
						<input type="radio" class="radio" name="show_in_viewtopic" value="0" {% if not SHOW_VIEWTOPIC %}checked{% endif %} /> {{ lang('NO') }}
					</td>
				</tr>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_SHOW_COUNTDOWN') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_SHOW_COUNTDOWN_EXPLAIN') }}</td>
					<td><input type="radio" class="radio" name="show_countdown" value="1" {% if SHOW_COUNTDOWN %}checked{% endif %}/> {{ lang('YES') }} &nbsp;
						<input type="radio" class="radio" name="show_countdown" value="0" {% if not SHOW_COUNTDOWN %}checked{% endif %} /> {{ lang('NO') }}
					</td>
				</tr>
				<tr>
					<th colspan="2">{{ lang('ACP_F1_SETTINGS_POINTS') }}</th>
				</tr>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_POINTS_MENTIONED') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_POINTS_MENTIONED_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="points_mentioned" value="{{ POINTS_MENTIONED }}" /></td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_POINTS_PLACED') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_POINTS_PLACED_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="points_placed" value="{{ POINTS_PLACED }}" /></td>
				</tr>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_POINTS_FASTEST') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_POINTS_FASTEST_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="points_fastest" value="{{ POINTS_FASTEST }}" /></td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_POINTS_TIRED') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_POINTS_TIRED_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="points_tired" value="{{ POINTS_TIRED }}" /></td>
				</tr>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_SAFETY_CAR') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_SAFETY_CAR_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="points_safety_car" value="{{ POINTS_SAFETY_CAR }}" /></td>
				</tr>
				<tr>
					<th colspan="2">{{ lang('ACP_F1_SETTINGS_PICS') }}</th>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_SHOW_AVATAR') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_SHOW_AVATAR_EXPLAIN') }}</td>
					<td><input type="radio" class="radio" name="show_avatar" value="1" {% if SHOW_AVATAR %}checked{% endif %}/> {{ lang('YES') }} &nbsp;
					    <input type="radio" class="radio" name="show_avatar" value="0" {% if not SHOW_AVATAR %}checked{% endif %} /> {{ lang('NO') }}</td>
				</tr>
				<tr class="row3">
					<td><strong>{{ lang('ACP_F1_SETTINGS_SHOW_HEADBANNER') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_SHOW_HEADBANNER_EXPLAIN') }}</td>
					<td><input type="radio" class="radio" name="show_headbanner" value="1" {% if SHOW_HEADBANNER %}checked{% endif %}/> {{ lang('YES') }} &nbsp;
						<input type="radio" class="radio" name="show_headbanner" value="0" {% if not SHOW_HEADBANNER %}checked{% endif %} /> {{ lang('NO') }}</td>
				</tr>
				{% if headbanner_on %}
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_HEADBANNER_IMG_HEIGHT') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_HEADBANNER_IMG_HEIGHT_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="head_height" value="{{ HEADBANNER_IMG_HEIGHT }}" /></td>
				</tr>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_HEADBANNER_IMG_WIDTH') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_HEADBANNER_IMG_WIDTH_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="head_width" value="{{ HEADBANNER_IMG_WIDTH }}" /></td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_HEADBANNER1_IMG') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_HEADBANNER1_IMG_EXPLAIN') }}</td>
					<td>{{ HEADBANNER1_IMG }}</td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_HEADBANNER2_IMG') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_HEADBANNER2_IMG_EXPLAIN') }}</td>
					<td>{{ HEADBANNER2_IMG }}</td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_HEADBANNER3_IMG') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_HEADBANNER3_IMG_EXPLAIN') }}</td>
					<td>{{ HEADBANNER3_IMG }}</td>
				</tr>
				{% endif %}
				<tr class="row3">
					<td><strong>{{ lang('ACP_F1_SETTINGS_SHOW_GFXR') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_SHOW_GFXR_EXPLAIN') }}</td>
					<td><input type="radio" class="radio" name="show_gfxr" value="1" {% if SHOW_GFXR %}checked{% endif %}/> {{ lang('YES') }} &nbsp;
						<input type="radio" class="radio" name="show_gfxr" value="0" {% if not SHOW_GFXR %}checked{% endif %} /> {{ lang('NO') }}</td>
				</tr>

				{% if gfxr_on %}
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_NO_RACE_IMG') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_NO_RACE_IMG_EXPLAIN') }}</td>
					<td>{{ NO_RACE_IMG }}</td>
				</tr>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_RACE_IMG_HEIGHT') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_RACE_IMG_HEIGHT_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="race_img_height" value="{{ RACE_IMG_HEIGHT }}" /></td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_RACE_IMG_WIDTH') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_RACE_IMG_WIDTH_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="race_img_width" value="{{ RACE_IMG_WIDTH }}" /></td>
				</tr>
				{% endif %}
				<tr class="row3">
					<td><strong>{{ lang('ACP_F1_SETTINGS_SHOW_GFX') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_SHOW_GFX_EXPLAIN') }}</td>
					<td><input type="radio" class="radio" name="show_gfx" value="1" {% if SHOW_GFX %}checked{% endif %}/> {{ lang('YES') }} &nbsp;
						<input type="radio" class="radio" name="show_gfx" value="0" {% if not SHOW_GFX %}checked{% endif %} /> {{ lang('NO') }}</td>
				</tr>

				{% if gfx_on %}
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_NO_CAR_IMG') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_NO_CAR_IMG_EXPLAIN') }}</td>
					<td>{{ NO_CAR_IMG }}</td>
				</tr>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_CAR_IMG_HEIGHT') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_CAR_IMG_HEIGHT_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="car_img_height" value="{{ CAR_IMG_HEIGHT }}" /></td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_CAR_IMG_WIDTH') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_CAR_IMG_WIDTH_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="car_img_width" value="{{ CAR_IMG_WIDTH }}" /></td>
				</tr>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_NO_DRIVER_IMG') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_NO_DRIVER_IMG_EXPLAIN') }}</td>
					<td>{{ NO_DRIVER_IMG }}</td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_DRIVER_IMG_HEIGHT') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_DRIVER_IMG_HEIGHT_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="driver_img_height" value="{{ DRIVER_IMG_HEIGHT }}" /></td>
				</tr>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_DRIVER_IMG_WIDTH') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_DRIVER_IMG_WIDTH_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="driver_img_width" value="{{ DRIVER_IMG_WIDTH }}" /></td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_NO_TEAM_IMG') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_NO_TEAM_IMG_EXPLAIN') }}</td>
					<td>{{ NO_TEAM_IMG }}</td>
				</tr>
				<tr class="row2">
					<td><strong>{{ lang('ACP_F1_SETTINGS_TEAM_IMG_HEIGHT') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_TEAM_IMG_HEIGHT_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="team_img_height" value="{{ TEAM_IMG_HEIGHT }}" /></td>
				</tr>
				<tr class="row1">
					<td><strong>{{ lang('ACP_F1_SETTINGS_TEAM_IMG_WIDTH') }}{{ lang('COLON') }}</strong><br />{{ lang('ACP_F1_SETTINGS_TEAM_IMG_WIDTH_EXPLAIN') }}</td>
					<td><input type="text" class="post" size="8" name="team_img_width" value="{{ TEAM_IMG_WIDTH }}" /></td>
				</tr>
				{% endif %}
			</tbody>
		</table>

		<a href="#maincontent">&raquo; {L_BACK_TO_TOP}</a><br />

		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</p>
	</fieldset>

	<br />
	<br />

	<fieldset class="tabulated">
	<legend>{{ lang('ACP_F1_SETTINGS_SEASON_RESET') }}</legend>
		<table cellspacing="1">
			<thead>
				<tr>
					<th colspan="2">{{ lang('ACP_F1_SETTINGS_SEASON_RESET') }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="row1">{{ lang('ACP_F1_SETTINGS_SEASON_RESET_EXPLAIN') }}</td>
				</tr>
			</tbody>
		</table>

		<a href="#maincontent">&raquo; {L_BACK_TO_TOP}</a><br />

		<p class="submit-buttons">
		<input class="button1" type="submit" name="reset_all" value="{{ lang('ACP_F1_SETTINGS_SEASON_RESET') }}" />
		</p>
	</fieldset>

	{{ S_FORM_TOKEN }}

	</form>
{% endif %}

{% if S_DRIVERS %}

	<fieldset class="tabulated">
	<legend>{{ lang('ACP_F1_DRIVERS') }}</legend>

	<h1>{{ lang('ACP_F1_DRIVERS') }}</h1>
	<p>{{ lang('ACP_F1_DRIVERS_EXPLAIN') }}</p>

	<table cellspacing="1">
		<thead>
			<tr>
				<th colspan="{{ COLSPAN }}" >{{ lang('ACP_F1_DRIVERS') }}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="row3">
				{% if gfx_on %}
				<td valign="middle">&nbsp;</td>
				{% endif %}
				<td width="30%" valign="middle"><strong>{{ lang('ACP_F1_DRIVERS_DRIVERNAME') }}</strong></td>
				<td width="30%" valign="middle"><strong>{{ lang('ACP_F1_DRIVERS_DRIVERTEAM') }}</strong></td>
				<td width="20%" valign="middle"><strong>{{ lang('ACP_F1_DRIVERS_DRIVERPOINTS') }}</strong>&nbsp;</td>
				<td width="20%" valign="middle"><strong>{{ lang('ACP_F1_DRIVERS_PENALTY') }}</strong>&nbsp;</td>
				<td valign="middle">&nbsp;<strong>{{ lang('ACP_F1_DRIVERS_DISABLED') }}</strong>&nbsp;</td>
				<td valign="middle" colspan="2">&nbsp;</td>
			</tr>
			{% for driverrow_gfx in driverrows_gfx %}
			<form method="POST" enctype="multipart/form-data">
			{% if driverrow_gfx.S_ROW_COUNT is even %}
			<tr class="row1">
			{% else %}
			<tr class="row2">
			{% endif %}
				<td valign="middle">&nbsp;{{ driverrow_gfx.DRIVERIMG }}&nbsp;</td>
				<td width="30%" valign="middle">{{ driverrow_gfx.DRIVERNAME }}<input type="hidden" name="driver_id" value="{{ driverrow_gfx.DRIVERID }}" /><input type="hidden" name="drivername" value="{{ driverrow_gfx.DRIVERNAME }}" /></td>
				<td width="30%" valign="middle">{{ driverrow_gfx.DRIVERTEAM }}</td>
				<td width="20%" valign="middle">&nbsp;{{ driverrow_gfx.DRIVERPOINTS }}&nbsp;</td>
				<td width="20%" valign="middle">&nbsp;{{ driverrow_gfx.DRIVER_PENALTY }}&nbsp;</td>
				<td valign="middle">&nbsp;{{ driverrow_gfx.DRIVER_DISABLED }}&nbsp;</td>
				<td valign="middle"><input class="button2" type="submit" name="edit" value="{{ lang('ACP_F1_DRIVERS_EDIT_DRIVER') }}" /></td>
				<td valign="middle"><input class="button2" type="submit" name="del"  value="{{ lang('ACP_F1_DRIVERS_DELETE_DRIVER') }}" />{{ S_FORM_TOKEN }}</td>
			</tr>
			</form>
			{% endfor %}
			{% for driverrow in driverrows %}
			<form action="{{ U_FORM_ACTION }}" method="POST" enctype="multipart/form-data">
			{% if driverrow.S_ROW_COUNT is even %}
			<tr class="row1">
			{% else %}
			<tr class="row2">
			{% endif %}
				<td width="30%" valign="middle">{{ driverrow.DRIVERNAME }}<input type="hidden" name="driver_id" value="{{ driverrow.DRIVERID }}" /><input type="hidden" name="drivername" value="{{ driverrow.DRIVERNAME }}" /></td>
				<td width="30%" valign="middle">{{ driverrow.DRIVERTEAM }}</td>
				<td width="20%" valign="middle">&nbsp;{{ driverrow.DRIVERPOINTS }}&nbsp;</td>
				<td width="20%" valign="middle">&nbsp;{{ driverrow.DRIVER_PENALTY }}&nbsp;</td>
				<td valign="middle">&nbsp;{{ driverrow.DRIVER_DISABLED }}&nbsp;</td>
				<td valign="middle"><input class="button2" id="submit" type="submit" name="edit" value="{{ lang('ACP_F1_DRIVERS_EDIT_DRIVER') }}" /></td>
				<td valign="middle"><input class="button2" type="submit" name="del" value="{{ lang('ACP_F1_DRIVERS_DELETE_DRIVER') }}" />{{ S_FORM_TOKEN }}</td>
			</tr>
			</form>
			{% endfor %}
		</tbody>
	</table>

	<a href="#maincontent">&raquo; {L_BACK_TO_TOP}</a><br />

	<br />

	<p class="submit-buttons">
		<form method="POST" enctype="multipart/form-data">
			<input class="button1" type="submit" name="adddriver" value="{{ lang('ACP_F1_DRIVERS_ADD_DRIVER') }}" />
			<input type="hidden" name="driver_id" value="" />
		</form>
	</p>
	</fieldset>
{% endif %}

{% if S_ADDDRIVERS %}
	<fieldset class="tabulated">
	<legend>{{ lang('ACP_F1_DRIVERS') }}</legend>

	<h1>{{ lang('ACP_F1_DRIVERS') }}</h1>
	<p>{{ lang('ACP_F1_DRIVERS_EXPLAIN') }}</p>

	<form id="acp_formel" method="post" action="{{ U_ACTION }}">

	<table cellspacing="1">
		<thead>
			<tr>
				<th colspan="2" >{{ lang('ACP_F1_DRIVERS') }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_DRIVERS_DRIVERNAME') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;<input type="text" class="post" size="30" name="drivername" value="{{ PREDEFINED_NAME }}" /></td>
			</tr>
			{% if gfx_on %}
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_DRIVERS_DRIVERIMAGE') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;{{ PREDEFINED_IMG }}</td>
			</tr>
			{% endif %}
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_DRIVERS_DRIVERTEAM') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">
					&nbsp;<select name="driverteam">
					{% for teamrow in teamrows %}
						<option value="{{ teamrow.TEAM_ID }}" {{ teamrow.PRESELECTED }}>{{ teamrow.TEAMNAME }}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_DRIVERS_PENALTY') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;<input type="text" class="post" size="30" name="driver_penalty" value="{{ PREDEFINED_PENALTY }}" /></td>
			</tr>
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_DRIVERS_DISABLED') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td><input type="radio" class="radio" name="driver_disabled" value="0" {{ S_DRIVER_ENABLED }} /> {{ lang('YES') }}&nbsp;&nbsp;<input type="radio" class="radio" name="driver_disabled" value="1" {{ S_DRIVER_DISABLED }} /> {{ lang('NO') }}</td>
			</tr>
		</tbody>
	</table>

	</fieldset>

	<p class="submit-buttons">
		<form method="POST" enctype="multipart/form-data">
			<input class="button1" type="submit" name="add" value="{{ lang('ACP_F1_DRIVERS_ADD') }}" />
			<input type="hidden" name="driver_id" value="{{ DRIVER_ID }}" />
			{{ S_FORM_TOKEN }}
		</form>
	</p>
	</form>
{% endif %}

{% if S_TEAMS %}
	<fieldset class="tabulated">
	<legend>{{ lang('ACP_F1_TEAMS') }}</legend>

	<h1>{{ lang('ACP_F1_TEAMS') }}</h1>
	<p>{{ lang('ACP_F1_TEAMS_EXPLAIN') }}</p>

	<table cellspacing="1">
		<thead>
			<tr>
				<th colspan="{{ COLSPAN }}" >{{ lang('ACP_F1_TEAMS') }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% if gfx_on %}
				<td class="row3" align="center" valign="middle">&nbsp;</td>
				<td class="row3" align="center" valign="middle">&nbsp;</td>
				{% endif %}
				<td class="row3" align="center" width="50%" valign="middle" ><span class="cattitle"><strong>{{ lang('ACP_F1_TEAMS_DRIVERTEAM') }}</strong></span></td>
				<td class="row3" align="center" width="25%" valign="middle" ><span class="cattitle"><strong>{{ lang('ACP_F1_TEAMS_DRIVERPOINTS') }}</strong></span></td>
				<td class="row3" align="center" width="25%" valign="middle" ><span class="cattitle"><strong>{{ lang('ACP_F1_TEAMS_PENALTY') }}</strong></span></td>
				<td class="row3" align="center" valign="middle" colspan="2">&nbsp;</td>
			</tr>
			{% for teamrow in teamrows %}
			<form action="{{ U_ACTION }}" method="POST" enctype="multipart/form-data">
			{% if teamrow.S_ROW_COUNT is even %}
			<tr class="row1">
			{% else %}
			<tr class="row2">
			{% endif %}
				<td align="center" width="50%" valign="middle" >{{ teamrow.TEAMNAME }}<input type="hidden" name="team_id" value="{{ teamrow.TEAMID }}" /><input type="hidden" name="teamname" value="{{ teamrow.TEAMNAME }}" /></td>
				<td align="center" width="25%" valign="middle" >&nbsp;{{ teamrow.POINTS }}&nbsp;</td>
				<td align="center" width="25%" valign="middle" >&nbsp;{{ teamrow.TEAM_PENALTY }}&nbsp;</td>
				<td align="center" valign="middle"><input class="button2" type="submit" name="edit" value="{{ lang('ACP_F1_TEAMS_EDIT_TEAM') }}" /></td>
				<td align="center" valign="middle"><input class="button2" type="submit" name="del"  value="{{ lang('ACP_F1_TEAMS_DELETE_TEAM') }}" />{{ S_FORM_TOKEN }}</td>
			</tr>
			</form>
			{% endfor %}
			{% for teamrow_gfx in teamrows_gfx %}
			<form action="{{ U_ACTION }}" method="POST" enctype="multipart/form-data">
			{% if teamrow_gfx.S_ROW_COUNT is even %}
			<tr class="row1">
			{% else %}
			<tr class="row2">
			{% endif %}
				<td align="center" valign="middle">&nbsp;{{ teamrow_gfx.TEAMCAR }}&nbsp;</td>
				<td align="center" valign="middle">&nbsp;{{ teamrow_gfx.TEAMIMG }}&nbsp;</td>
				<td align="center" width="50%" valign="middle" >{{ teamrow_gfx.TEAMNAME }}<input type="hidden" name="team_id" value="{{ teamrow_gfx.TEAMID }}" /><input type="hidden" name="teamname" value="{{ teamrow_gfx.TEAMNAME }}" /></td>
				<td align="center" width="25%" valign="middle" >&nbsp;{{ teamrow_gfx.POINTS }}&nbsp;</td>
				<td align="center" width="25%" valign="middle" >&nbsp;{{ teamrow_gfx.TEAM_PENALTY }}&nbsp;</td>
				<td align="center" valign="middle"><input class="button2" type="submit" name="edit" value="{{ lang('ACP_F1_TEAMS_EDIT_TEAM') }}" /></td>
				<td align="center" valign="middle"><input class="button2" type="submit" name="del"  value="{{ lang('ACP_F1_TEAMS_DELETE_TEAM') }}" />{{ S_FORM_TOKEN }}</td>
			</tr>
			</form>
			{% endfor %}
		</tbody>
	</table>

	<a href="#maincontent">&raquo; {L_BACK_TO_TOP}</a><br />

	</fieldset>

	<p class="submit-buttons">
		<form action="{{ U_ACTION }}" method="POST" enctype="multipart/form-data">
			<input class="button1" type="submit" name="addteam" value="{{ lang('ACP_F1_TEAMS_ADD_TEAM') }}" />
		</form>
	</p>
{% endif %}

{% if S_ADDTEAM %}
	<fieldset class="tabulated">
	<legend>{{ lang('ACP_F1_TEAMS') }}</legend>

	<h1>{{ lang('ACP_F1_TEAMS') }}</h1>
	<p>{{ lang('ACP_F1_TEAMS_EXPLAIN') }}</p>

	<form action="{{ U_ACTION }}" method="POST" enctype="multipart/form-data">

	<table cellspacing="1">
		<thead>
			<tr>
				<th colspan="2" >{{ lang('ACP_F1_TEAMS') }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_TEAMS_ADDTEAM_TEAMNAME') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;<input type="text" class="post" size="30" name="teamname" value="{{ PREDEFINED_NAME }}" /></td>
			</tr>
			{% if gfx_on %}
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_TEAMS_ADDTEAM_TEAMIMAGE') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;{{ PREDEFINED_IMG }}</td>
			</tr>
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_TEAMS_ADDTEAM_TEAMCAR') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;{{ PREDEFINED_CAR }}</td>
			</tr>
			{% endif %}
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_TEAMS_PENALTY') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;<input type="text" class="post" size="30" name="team_penalty" value="{{ PREDEFINED_PENALTY }}" /></td>
			</tr>
		</tbody>
	</table>

	</fieldset>

	<p class="submit-buttons">
		<input class="button1" type="submit" name="add" value="{{ lang('ACP_F1_TEAMS_ADD') }}" />
		<input type="hidden" name="team_id" value="{{ PREDEFINED_ID }}" />
		{{ S_FORM_TOKEN }}
	</p>
	</form>
{% endif %}

{% if S_RACES %}
	<fieldset class="tabulated">
	<legend>{{ lang('ACP_F1_RACES') }}</legend>

	<h1>{{ lang('ACP_F1_RACES') }}</h1>
	<p>{{ lang('ACP_F1_RACES_EXPLAIN') }}</p>

	<table cellspacing="1">
		<thead>
			<tr>
				<th colspan="{{ COLSPAN }}" >{{ lang('ACP_F1_RACES') }}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="row3">
				{% if gfxr_on %}
				<td align="center" valign="middle">&nbsp;</td>
				{% endif %}
				<td align="center" width="30%" valign="middle" ><span class="cattitle"><strong>{{ lang('ACP_F1_RACES_RACENAME') }}</strong></span></td>
				<td align="center" width="30%" valign="middle"><span class="cattitle"><strong>{{ lang('ACP_F1_RACES_RACETIME') }}</strong></span></td>
				<td align="center" width="30%" valign="middle"><span class="cattitle"><strong>{{ lang('ACP_F1_RACES_RACEDEAD') }}</strong></span></td>
				<td align="center" valign="middle" colspan="2">&nbsp;</td>
			</tr>
			{% for racerow_gfxr in racerows_gfxr %}
			<form action="{{ U_ACTION }}" method="POST" enctype="multipart/form-data">
			{% if racerow_gfxr.S_ROW_COUNT is even %}
			<tr class="row1">
			{% else %}
			<tr class="row2">
			{% endif %}
				<td align="center" valign="middle">&nbsp;{{ racerow_gfxr.RACEIMG }}&nbsp;</td>
				<td align="center" width="30%" valign="middle" >&nbsp;{{ racerow_gfxr.RACENAME }}<input type="hidden" name="race_id" value="{{ racerow_gfxr.RACEID }}" /><input type="hidden" name="racename" value="{{ racerow_gfxr.RACENAME }}" />&nbsp;</td>
				<td align="center" width="30%" valign="middle" >&nbsp;{{ racerow_gfxr.RACETIME }}&nbsp;</td>
				<td align="center" width="30%" valign="middle" >&nbsp;{{ racerow_gfxr.RACEDEAD }}&nbsp;</td>
				<td align="center" valign="middle">&nbsp;<input class="button2" type="submit" name="edit" value="{{ lang('ACP_F1_RACES_EDIT_RACE') }}" />&nbsp;</td>
				<td align="center" valign="middle">&nbsp;<input class="button2" type="submit" name="del" value="{{ lang('ACP_F1_RACES_DELETE_RACE') }}" />&nbsp;{{ S_FORM_TOKEN }}</td>
			</tr>
			</form>
			{% endfor %}
			{% for racerow in racerows %}
			<form action="{{ U_ACTION }}" method="POST" enctype="multipart/form-data">
			{% if racerow.S_ROW_COUNT is even %}
			<tr class="row1">
			{% else %}
			<tr class="row2">
			{% endif %}
				<td align="center" width="30%" valign="middle" >&nbsp;{{ racerow.RACENAME }}<input type="hidden" name="race_id" value="{{ racerow.RACEID }}" /><input type="hidden" name="racename" value="{{ racerow.RACENAME }}" />&nbsp;</td>
				<td align="center" width="30%" valign="middle" >&nbsp;{{ racerow.RACETIME }}&nbsp;</td>
				<td align="center" width="30%" valign="middle" >&nbsp;{{ racerow.RACEDEAD }}&nbsp;</td>
				<td align="center" valign="middle">&nbsp;<input class="button2" type="submit" name="edit" value="{{ lang('ACP_F1_RACES_EDIT_RACE') }}" />&nbsp;</td>
				<td align="center" valign="middle">&nbsp;<input class="button2" type="submit" name="del" value="{{ lang('ACP_F1_RACES_DELETE_RACE') }}" />&nbsp;{{ S_FORM_TOKEN }}</td>
			</tr>
			</form>
			{% endfor %}
		</tbody>
	</table>

	<a href="#maincontent">&raquo; {L_BACK_TO_TOP}</a><br />

	</fieldset>

	<form action="{{ U_ACTION }}" method="POST" enctype="multipart/form-data">
		<p class="submit-buttons">
			<input class="button1" type="submit" name="addrace" value="{{ lang('ACP_F1_RACES_ADD_RACE') }}" />
		</p>
	</form>
{% endif %}

{% if S_ADD_RACES %}
	<fieldset class="tabulated">
	<legend>{{ lang('ACP_F1_RACES') }}</legend>

	<h1>{{ lang('ACP_F1_RACES') }}</h1>
	<p>{{ lang('ACP_F1_RACES_EXPLAIN') }}</p>

	<form action="{{ U_ACTION }}" method="POST" enctype="multipart/form-data">

	<table cellspacing="1">
		<thead>
			<tr>
				<th colspan="2" >{{ lang('ACP_F1_RACES') }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_RACES_RACENAME') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;<input type="text" class="post" maxlength="64" size="30" name="racename" value="{{ PREDEFINED_NAME }}" /></td>
			</tr>
			{% if gfxr_on %}
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_RACES_RACEIMAGE') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;{{ PREDEFINED_IMG }}</td>
			</tr>
			{% endif %}
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_RACES_RACELENGTH') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;<input type="text" class="post" maxlength="8" size="10" name="racelength" value="{{ PREDEFINED_LENGTH }}" /></td>
			</tr>
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_RACES_RACEDISTANCE') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;<input type="text" class="post" maxlength="8" size="10" name="racedistance" value="{{ PREDEFINED_DISTANCE }}" /></td>
			</tr>
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_RACES_RACELAPS') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;<input type="text" class="post" maxlength="3" size="5" name="racelaps" value="{{ PREDEFINED_LAPS }}" /></td>
			</tr>
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_RACES_RACEDEBUT') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;<input type="text" class="post" maxlength="4" size="5" name="racedebut" value="{{ PREDEFINED_DEBUT }}" /></td>
			</tr>
			<tr>
				<td class="row1" align="right" width="50%" valign="middle"><strong>{{ lang('ACP_F1_RACES_RACETIME') }}{{ lang('COLON') }}</strong>&nbsp;</td>
				<td class="row1" align="left" width="50%" valign="middle">&nbsp;{{ RACETIME_COMBOS }}</td>
			</tr>
		</tbody>
	</table>

	</fieldset>

	<p class="submit-buttons">
		<input class="button1" type="submit" name="add" value="{{ lang('ACP_F1_RACES_ADD') }}" />
		<input type="hidden" name="race_id" value="{{ PREDEFINED_ID }}" />
		{{ S_FORM_TOKEN }}
	</p>
	</form>
{% endif %}

{% INCLUDE 'overall_footer.html' %}
