/* Table styles colours
----------------------------------------*/
table.tablef1 tbody tr {
	border-color: #363636;
}

table.tablef1 tbody td {
	border-top-color: #1A1A1A;
}

table.nohoverf1 tbody tr:hover {
	background-color: transparent;
}

table.hoverf1 tbody tr:hover {
	background-color: #777777;
}


/* Countdown styles colours
----------------------------------------*/

.countdownf1 {
	color: #FFCC33;
}

.pointsf1 {
	color: #FFCC33;
}

.paneltopleftf1 {
	border-right-color: #FFCC33;
}

.paneltoprightf1 {
	border-left-color: #FFCC33;
}