/* Table styles colours
----------------------------------------*/
table.tablef1 tbody tr {
	border-color: #363636;
}

table.tablef1 tbody td {
	border-top-color: #1A1A1A;
}

/* Countdown styles colours
----------------------------------------*/

.countdownf1 {
	color: #FFCC33; 
}

.pointsf1 {
	color: #FFCC33; 
}