.icon-f1webtip {
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding: 1px 0 0 17px;
	background-image: url("./images/icon_f1webtip.png");
}

.rtl .icon-f1webtip {
	background-position: 100% 50%;
	padding: 1px 17px 0 0;
}