/* Table styles colours
----------------------------------------*/
table.tablef1 thead th {
	color: #FFFFFF;
}

table.tablef1 tbody tr {
	border-color: #BFC1CF;
}

table.tablef1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #CFE1F6;
	color: #000;
}

table.tablef1 td {
	color: #536482;
}

table.tablef1 tbody td {
	border-top-color: #FAFAFA;
}

table.tablef1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}
