/* Table styles colours
----------------------------------------*/

table.tablef1 thead th {
	color: #FFFFFF;
	background-color: inherit;
}

table.tablef1 tbody tr {
	border-color: #BFC1CF;
}

table.tablef1 tbody td {
	border-top-color: #FAFAFA;
}

table.nohoverf1 tbody tr:hover {
	background-color: transparent;
}

table.hoverf1 tbody tr:hover {
	background-color: #F6F4D0;
}


/* Float styles
----------------------------------------*/

.paneltopleftf1 {
	border-right-color: #FFFFFF;
}

.paneltoprightf1 {
	border-left-color: #FFFFFF;
}


/* Countdown styles colours
----------------------------------------*/

.countdownf1 {
	color: #FF0000;
}

.pointsf1 {
	color: #009900;
}
