/* Table styles colours
----------------------------------------*/
table.tablef1 tbody tr {
	border-color: #BFC1CF;
}

table.tablef1 tbody td {
	border-top-color: #FAFAFA;
}

/* Countdown styles colours
----------------------------------------*/

.countdownf1 {
	color: #FF0000; 
}

.pointsf1 {
	color: #009900; 
}