/* Table styles
----------------------------------------*/

table.fullf1 {
	width: 100%;
}

table.hoverf1 {
	border-collapse: separate;
}

table.nohoverf1 {
	border-collapse: separate;
}

table.tablef1 {
	width: 100%;
}

table.tablef1 td {
	font-size: 1.1em;
}

table.tablef1 thead th {
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.3em;
	font-size: 1em;
	padding: 2px 0 2px 0;
	text-align: center;
}

table.tablef1 thead th span {
	padding-left: 7px;
}

table.tablef1 tbody tr {
	border: 1px solid transparent;
}

table.tablef1 tbody td {
	padding: 2px;
	/*border-top: 1px solid transparent;*/
	vertical-align: middle;
}

table tbody td.tabletopf1 {
	padding: 1px;
	vertical-align: top;
}

table tbody th.centerf1 {
	text-align: center;
}

table tbody td.centerf1 {
	text-align: center;
}

table tbody td.rightf1 {
	text-align: right;
}


/* Spacer styles
----------------------------------------*/

.centercontentf1 {
	display: table;
	margin: 0 auto;
}

.contentspacef1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.headerspacef1 {
	margin-top: 15px;
}

.panelspacef1 {
	margin-top: 3px;
}

.titlespacef1 {
	margin-bottom: 15px;
}


/* Race panel styles
----------------------------------------*/

.racef1 {
	padding: 2px 10px;
}

.racef1size {
	font-size: 1.2em;
}

ul.topiclist li.header dt.racef1size {
	font-size: 1.2em;
}

ul.topiclist li.row dd.racef1 {
	padding: 2px 10px;
}


/* Rules styles
----------------------------------------*/

.rulesf1 {
	margin-top: 0px;
	margin-bottom: 1px;
}

ul.topiclist li.row dt.rulesf1header {
	padding: 5px 12px;
	font-size : 1.2em;
	font-weight: bold;
}

ul.topiclist li.row dd.rulesf1content {
	padding: 5px 12px;
	font-size : 1.2em;
	margin-bottom: 0px;
}


/* No Wrap styles
----------------------------------------*/

.nowrapf1 {
	white-space: nowrap;
}

.nowrapfullf1 {
	width: 100%;
	white-space: nowrap;
}

.nowraphalff1 {
	width: 50%;
	white-space: nowrap;
}


/* Float styles
----------------------------------------*/

.paneltopleftf1 {
	float: left;
	margin-top: 3px;
	margin-right: 15px;
	border-right-width: 1px;
	border-right-style: solid;
	width: 30%;
}

.panelnamesf1 {
	text-align: left;
	white-space: nowrap;
	width: 100%;
}

.paneltoprightf1 {
	float: right;
	margin-top: 3px;
	margin-left: 15px;
	border-left-width: 1px;
	border-left-style: solid;
	width: 30%;
}


/* Countdown styles
----------------------------------------*/

.countdownf1 {
	border: 0px;
	font-weight: bold;
}


/* Misc styles
----------------------------------------*/

.donatef1 {
	text-align: center;
}

.leftf1 {
	text-align: left;
}

.halff1 {
	width: 50%;
}

.thirtyf1 {
	width: 30%;
}

.twentyf1 {
	width: 20%;
}
