/* Table colors styles
----------------------------------------*/
table.tablef1 thead th {
	color: #E7E7E7;
}

table.tablef1 tbody tr {
	border-color: #363636;
}

table.tablef1 tbody tr:hover, table.tablef1 tbody tr.hover {
    background-color: #666666;
    color: #000;
}

table.tablef1 td {
	color: #E7E7E7;
}

table.tablef1 tbody td {
	border-top-color: #1A1A1A;
}

table.tablef1 tbody th {
	border-bottom-color: #000000;
	color: #E7E7E7;
	background-color: #666666;
}

