{% if not S_USERTIPP %}

{% INCLUDE 'overall_header.html' %}

{% if S_INDEX %}

{% INCLUDEJS '@drdeath_f1webtip/f1webtip_functions.js' %}
<script>var places = {{ PLACES }}</script>

<form id="countdown" action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
	<h2>{{ lang('FORMEL_TITLE') }}</h2>

	<div class="forumbg">
		<div class="inner"><span class="corners-top"><span></span></span>

			<div>
				{% if heads_on %}
				<div class="responsive-hide">
					<p class="headerspacef1 centercontentf1">
						<img src="{{ HEADER_IMG }}" width="{{ HEADER_WIDTH }}" height="{{ HEADER_HEIGHT }}" alt="" >
					</p>
				</div>
				{% endif %}
				<p class="contentspacef1 centercontentf1">
					<input class="button" type="button" onclick="window.location.href='{{ U_FORMEL_RULES }}'" value="{{ lang('FORMEL_RULES') }}" />&nbsp;
					{% if S_DISCUSS_BUTTON %}
					<input class="button" type="button" onclick="window.location.href='{{ U_FORMEL_FORUM }}'" value="{{ lang('FORMEL_FORUM') }}" />&nbsp;
					{% endif %}
					<input class="button" type="button" onclick="window.location.href='{{ U_FORMEL_STATISTICS }}'" value="{{ lang('FORMEL_STATISTICS') }}" />
				</p>
				{% if S_CALL_MOD %}
				<p class="contentspacef1 centercontentf1">
					<input class="button" type="button" onclick="window.location.href='{{ U_FORMEL_CALL_MOD }}'" value="{{ lang('FORMEL_CALL_MOD') }}" />
				</p>
				{% endif %}
				<p class="contentspacef1 centercontentf1">
					<input class="button" type="submit" name="prev" value="{{ lang('FORMEL_PREV_RACE') }}" />&nbsp;
					<input class="button" type="submit" name="next" value="{{ lang('FORMEL_NEXT_RACE') }}" />
				</p>
			</div>

		</div>
	</div>

	<div class="responsive-hide navbar bg2 panelspacef1">
		<div class="inner">

			<div class="navbar bg2 paneltopleftf1">
				<table>
					<thead>
						<tr>
							<th class="centerf1" colspan="2">&nbsp;{{ lang('FORMEL_TOP_NAME') }}&nbsp;</th>
							<th class="centerf1">&nbsp;{{ lang('FORMEL_TOP_POINTS') }}&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for top_tipper in top_tippers %}
						{% if top_tipper.S_ROW_COUNT is even %}
						<tr class="bg1">
						{% else %}
						<tr class="bg2">
						{% endif %}
							<td class="bg2 centerf1">&nbsp;{{ top_tipper.RANK }}&nbsp;</td>
							<td class="panelnamesf1">&nbsp;{{ top_tipper.TIPPER_NAME }}&nbsp;</td>
							<td class="bg2 centerf1">&nbsp;{{ top_tipper.TIPPER_POINTS }}&nbsp;</td>
						</tr>
						{% endfor %}
						<tr>
							<td class="centerf1" colspan="3"><small>[<a href="{{ U_TOP_MORE_USERS }}">{{ lang('FORMEL_TOP_MORE') }}</a>]</small></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="navbar bg2 paneltoprightf1">
				<table>
					<thead>
						<tr>
							<th colspan="2">&nbsp;{{ lang('FORMEL_TOP_TEAMS') }}&nbsp;</th>
							<th>&nbsp;{{ lang('FORMEL_TOP_POINTS') }}&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for top_team in top_teams %}
						{% if top_team.S_ROW_COUNT is even %}
						<tr class="bg1">
						{% else %}
						<tr class="bg2">
						{% endif %}
							<td class="bg2 centerf1">&nbsp;{{ top_team.RANK }}&nbsp;</td>
							<td class="panelnamesf1">&nbsp;{{ top_team.WM_TEAMNAME }}&nbsp;</td>
							<td class="bg2 centerf1">&nbsp;{{ top_team.WM_POINTS }}&nbsp;</td>
						</tr>
						{% endfor %}
						<tr>
							<td class="centerf1" colspan="3"><small>[<a href="{{ U_TOP_MORE_TEAMS }}">{{ lang('FORMEL_TOP_MORE') }}</a>]</small></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="navbar bg2 panelspacef1">
				<table>
					<thead>
						<tr>
							<th class="centerf1" colspan="2">&nbsp;{{ lang('FORMEL_TOP_DRIVER') }}&nbsp;</th>
							<th class="centerf1">&nbsp;{{ lang('FORMEL_TOP_POINTS') }}&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for top_driver in top_drivers %}
						{% if top_driver.S_ROW_COUNT is even %}
						<tr class="bg1">
						{% else %}
						<tr class="bg2">
						{% endif %}
							<td class="bg2 centerf1">&nbsp;{{ top_driver.RANK }}&nbsp;</td>
							<td class="panelnamesf1">&nbsp;{{ top_driver.WM_DRIVERNAME }}&nbsp;</td>
							<td class="bg2 centerf1">&nbsp;{{ top_driver.WM_POINTS }}&nbsp;</td>
						</tr>
						{% endfor %}
						<tr>
							<td class="centerf1" colspan="3"><small>[<a href="{{ U_TOP_MORE_DRIVERS }}">{{ lang('FORMEL_TOP_MORE') }}</a>]</small></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

	<p class="stat-block"></p>

	{% for racerow in racerows %}
	<h2>{{ lang('FORMEL_CURRENT_RACE') }}{{ lang('COLON') }}&nbsp;&nbsp;&nbsp;{{ racerow.RACENAME }}</h2>

	<div >

		{% if racegfx %}
		<div class="forumbg">
			<div class="inner">

				<div class="responsive-hide">
					<p class="contentspacef1 centercontentf1">
						<img src="{{ racerow.EXT_PATH }}images/races/{{ racerow.RACEIMG }}" width="{{ racerow.RACEIMG_WIDTH }}" height="{{ racerow.RACEIMG_HEIGHT }}" alt="" />
					</p>
				</div>

			</div>
		</div>
		{% endif %}

		<div class="forumbg">
			<div class="inner">

				<ul class="topiclist">
					<li class="header">
						<dl>
							<dt class="racef1 text-strong racef1size" >{{ racerow.RACENAME }}</dt>
							<dd></dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<li class="row">
						<dl class="text-strong">
							<dt class="racef1">
								{{ lang('FORMEL_RACETIME') }}{{ lang('COLON') }}
							</dt>
							<dd class="responsive-show-inline-block racef1">
								{{ racerow.RACETIME }}
							</dd>
						</dl>
					</li>
					<li class="row">
						<dl class="text-strong">
							<dt class="racef1">
								{{ lang('FORMEL_RACEDEAD') }}{{ lang('COLON') }}
							</dt>
							<dd class="responsive-show-inline-block countdownf1 racef1">
								{{ racerow.RACEDEAD }}
							</dd>
						</dl>
					</li>
					{% if S_COUNTDOWN %}
					{% INCLUDEJS '@drdeath_f1webtip/f1webtip_countdown.js' %}
					<script>var countdown_stop = "{{ COUNTDOWN_STOP }}"</script>
					<li class="row">
						<dl class="text-strong">
							<dt class="racef1" id="time_event">
								{{ lang('DAYS') }}&nbsp;<input name="days" class="bg2 countdownf1" size="4" />
								<span id="time_string">{{ lang('HOURS') }}
									<input name="hours" class="bg2 countdownf1" size="3" />{{ lang('COLON') }}
									<input name="mins" class="bg2 countdownf1" size="3" />{{ lang('COLON') }}
									<input name="secs" class="bg2 countdownf1" size="3" />
								</span>
							</dt>
							<dt class="racef1" id="event_time" style="display:none ;">
								{{ lang('FORMEL_DEADLINE_REACHED') }}
							</dt>
							<dd class="racef1">{{ lang('FORMEL_COUNTDOWN_DEADLINE') }}</dd>
						</dl>
					</li>
					{% endif %}
					<li class="responsive-hide row">
						<dl class="text-strong">
							<dt class="racef1">
								{{ lang('FORMEL_RACELENGTH') }}{{ lang('COLON') }}
							</dt>
							<dd class="racef1">
								{{ racerow.RACELENGTH }} {{ lang('FORMEL_DISTANCE_UNIT') }}
							</dd>
						</dl>
						<dl class="text-strong">
							<dt class="racef1">
								{{ lang('FORMEL_RACELAPS') }}{{ lang('COLON') }}
							</dt>
							<dd class="racef1">
								{{ racerow.RACELAPS }}
							</dd>
						</dl>
						<dl class="text-strong">
							<dt class="racef1">
								{{ lang('FORMEL_RACEDISTANCE') }}{{ lang('COLON') }}
							</dt>
							<dd class="racef1">
								{{ racerow.RACEDISTANCE }} {{ lang('FORMEL_DISTANCE_UNIT') }}
							</dd>
						</dl>
						<dl class="text-strong">
							<dt class="racef1">
								{{ lang('FORMEL_RACEDEBUT') }}{{ lang('COLON') }}
							</dt>
							<dd class="racef1">
								{{ racerow.RACEDEBUT }}
							</dd>
						</dl>
					</li>
				</ul>

			</div>
		</div>

	</div>

	{% endfor %}

	<p class="stat-block"></p>

	<div class="navbar bg3">
		<div class="inner">

			{{ lang('FORMEL_TIPPS_MADE') }}{{ lang('COLON') }}
			{% for tipp_made in tipps_made %}
			<a href="javascript:void(0)" onclick="javascript:showtipps('{{ tipp_made.USERTIPP }}')" {{ tipp_made.STYLE }}>{{ tipp_made.USERNAME }}</a>{{ tipp_made.SEPARATOR }}
			{% endfor %}
			{% if no_tipps_made %}
			{{ lang('FORMEL_NO_TIPPS') }}
			{% endif %}

		</div>
	</div>

	<p class="stat-block"></p>

	<div class="forumbg">
		<div class="inner">

			<table class="fullf1 nohoverf1">
				<tr>
					<td class="tabletopf1{% if S_RESULT_EXISTS %} responsive-hide{% endif %}">
						<table class="table1 hoverf1">
							<thead>
								<tr>
									 <th colspan="2"><strong>{{ lang('FORMEL_CURRENT_QUALI') }}</strong></th>
								</tr>
							</thead>
							<tbody>
								{% if no_qualifyings %}
								<tr class="bg1">
									 <td class="tablef1 centerf1" colspan="2">{{ lang('FORMEL_NO_QUALI') }}</td>
								</tr>
								{% endif %}
								{% for qualirow_gfx in qualirows_gfx %}
								{% if qualirow_gfx.S_ROW_COUNT < 10 %}
								<tr class="bg1">
								{% elseif qualirow_gfx.S_ROW_COUNT < 15 %}
								<tr class="bg2">
								{% else %}
								<tr class="bg3">
								{% endif %}
									<td class="rightf1"><img src="{{ qualirow_gfx.EXT_PATH }}images/drivers/{{ qualirow_gfx.DRIVERIMG }}" width="{{ qualirow_gfx.DRIVERIMG_WIDTH }}" height="{{ qualirow_gfx.DRIVERIMG_HEIGHT }}" alt=""></td>
									<td class="nowrapf1">
										<strong>&nbsp;{{ qualirow_gfx.L_PLACE }}&nbsp;</strong>
										<br>
										&nbsp;{{ qualirow_gfx.DRIVERNAME }}&nbsp;
										<br>
										&nbsp;{{ qualirow_gfx.DRIVERTEAMNAME }}&nbsp;
									</td>
								</tr>
								{% endfor %}
								{% for qualirow in qualirows %}
								{% if qualirow.S_ROW_COUNT < 10 %}
								<tr class="bg1">
								{% elseif qualirow.S_ROW_COUNT < 15 %}
								<tr class="bg2">
								{% else %}
								<tr class="bg3">
								{% endif %}
									 <td class="nowrapf1 rightf1"><strong>&nbsp;{{ qualirow.L_PLACE }}&nbsp;</strong></td>
									 <td class="nowrapf1">&nbsp;{{ qualirow.DRIVERNAME }}&nbsp;</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</td>
					<td class="tabletopf1{% if not S_RESULT_EXISTS %} responsive-hide{% endif %}">
						<table class="table1 hoverf1">
							<thead>
								<tr>
									<th colspan="2"><strong>{{ lang('FORMEL_CURRENT_RESULT') }}</strong></th>
								</tr>
							</thead>
							<tbody>
								{% if no_results %}
								<tr class="bg1">
									<td class="centerf1" colspan="2">{{ lang('FORMEL_NO_RESULTS') }}</td>
								</tr>
								{% endif %}
								{% for resultrow_gfx in resultsrow_gfx %}
								{% if resultrow_gfx.S_ROW_COUNT < 3 %}
								<tr class="bg1">
								{% else %}
								<tr class="bg2">
								{% endif %}
									<td class="rightf1"><img src="{{ resultrow_gfx.EXT_PATH }}images/drivers/{{ resultrow_gfx.DRIVERIMG }}" width="{{ resultrow_gfx.DRIVERIMG_WIDTH }}" height="{{ resultrow_gfx.DRIVERIMG_HEIGHT }}" alt=""></td>
									<td class="nowrapf1">
										<strong>&nbsp;{{ resultrow_gfx.L_PLACE }}</strong>
										<br>
										&nbsp;{{ resultrow_gfx.DRIVERNAME }}&nbsp;
										<br>
										&nbsp;{{ resultrow_gfx.DRIVERTEAMNAME }}&nbsp;
									</td>
								</tr>
								{% endfor %}
								{% for resultrow in resultsrow %}
								{% if resultrow.S_ROW_COUNT < 3 %}
								<tr class="bg1">
								{% else %}
								<tr class="bg2">
								{% endif %}
									<td class="rightf1"><strong>&nbsp;{{ resultrow.L_PLACE }}</strong></td>
									<td class="nowrapf1">&nbsp;{{ resultrow.DRIVERNAME }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% for extended_result in extended_results %}
								<tr class="bg1">
									<td class="rightf1">&nbsp;<strong>{{ lang('FORMEL_PACE') }}{{ lang('COLON') }}</strong></td>
									<td>&nbsp;{{ extended_result.PACE }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td class="rightf1">&nbsp;<strong>{{ lang('FORMEL_TIRED') }}{{ lang('COLON') }}</strong></td>
									<td>&nbsp;{{ extended_result.TIRED }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td class="rightf1">&nbsp;<strong>{{ lang('FORMEL_SAFETYCAR') }}{{ lang('COLON') }}</strong></td>
									<td>&nbsp;{{ extended_result.SAFETYCAR }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% for extended_result_gfx in extended_results_gfx %}
								<tr class="bg1">
									<td class="rightf1">&nbsp;<strong>{{ lang('FORMEL_PACE') }}{{ lang('COLON') }}</strong></td>
									<td>&nbsp;{{ extended_result_gfx.PACE }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td class="rightf1">&nbsp;<strong>{{ lang('FORMEL_TIRED') }}{{ lang('COLON') }}</strong></td>
									<td>&nbsp;{{ extended_result_gfx.TIRED }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td class="rightf1">&nbsp;<strong>{{ lang('FORMEL_SAFETYCAR') }}{{ lang('COLON') }}</strong></td>
									<td>&nbsp;{{ extended_result_gfx.SAFETYCAR }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% if extended_results %}
								<tr class="bg1">
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								{% endif %}
								{% if extended_results_gfx %}
								<tr class="bg1">
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
					</td>
					<td class="tabletopf1">
						<table class="table1 hoverf1">
							<thead>
								<tr>
									<th colspan="3"><strong>{{ lang('FORMEL_YOUR_TIPP') }}</strong></th>
								</tr>
							</thead>
							<tbody>
								{% for user_tipp in users_tipp %}
								{% if user_tipp.S_ROW_COUNT < 3 %}
								<tr class="bg1">
								{% else %}
								<tr class="bg2">
								{% endif %}
									<td class="rightf1"><strong>&nbsp;{{ user_tipp.L_PLACE }}{{ lang('COLON') }}</strong></td>
									{% if not user_tipp.S_RACE_OVER %}
									<td class="nowrapf1">&nbsp;<select id="{{ user_tipp.BOX_NAME }}" name="{{ user_tipp.BOX_NAME }}" onchange="javascript:drivers()" size="1">2{{ user_tipp.OPTION_LIST_DRIVER }}</select>&nbsp;</td>
									{% else %}
									<td class="nowrapf1">&nbsp;{{ user_tipp.DRIVERNAME }}</td>
									{% endif %}
									<td class="responsive-hide centerf1">&nbsp;{{ user_tipp.SINGLE_POINTS }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% for gfx_user_tipp in gfx_users_tipp %}
								{% if gfx_user_tipp.S_ROW_COUNT < 3 %}
								<tr class="bg1">
								{% else %}
								<tr class="bg2">
								{% endif %}
								{% if not gfx_user_tipp.S_RACE_OVER %}
									<td class="rightf1">{{ gfx_user_tipp.GFXDRIVERCOMBO }}</td>
								{% else %}
									<td class="rightf1"><img src="{{ gfx_user_tipp.EXT_PATH }}images/drivers/{{ gfx_user_tipp.GFXDRIVERCOMBO }}" width="{{ gfx_user_tipp.GFXDRIVERCOMBO_WIDTH }}" height="{{ gfx_user_tipp.GFXDRIVERCOMBO_HEIGHT }}" alt=""></td>
								{% endif %}
									<td class="nowrapf1">
										<strong>{% if gfx_user_tipp.S_RACE_OVER %}&nbsp;{{ gfx_user_tipp.L_PLACE }}<br />{% endif %}</strong>
										{% if not gfx_user_tipp.S_RACE_OVER %}
										&nbsp;<select id="{{ gfx_user_tipp.BOX_NAME }}" name="{{ gfx_user_tipp.BOX_NAME }}" onchange="javascript:drivers()" size="1">{{ gfx_user_tipp.OPTION_LIST_DRIVER }}</select>
										{% else %}
										&nbsp;{{ gfx_user_tipp.DRIVERNAME }}<br>
										{% endif %}
										{% if gfx_user_tipp.S_RACE_OVER %}&nbsp;{% endif %}{{ gfx_user_tipp.DRIVERTEAMNAME }}
									</td>
									<td class="responsive-hide centerf1">&nbsp;{{ gfx_user_tipp.SINGLE_POINTS }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% for extended_user_tipp in extended_users_tipp %}
								<tr class="bg1">
									<td class="rightf1"><strong>&nbsp;{{ lang('FORMEL_PACE') }}{{ lang('COLON') }}</strong></td>
									{% if not extended_user_tipp.S_RACE_OVER %}
									<td>&nbsp;<select name="place11" size="1">{{ extended_user_tipp.OPTION_LIST_PACE }}</select>&nbsp;</td>
									{% else %}
									<td>&nbsp;{{ extended_user_tipp.DRIVER_FASTEST }}&nbsp;</td>
									{% endif %}
									<td class="responsive-hide centerf1">&nbsp;{{ extended_user_tipp.SINGLE_FASTEST }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td class="rightf1"><strong>&nbsp;{{ lang('FORMEL_TIRED') }}{{ lang('COLON') }}</strong></td>
									{% if not extended_user_tipp.S_RACE_OVER %}
									<td>&nbsp;<select name="place12" size="1">{{ extended_user_tipp.OPTION_LIST_TIRED }}</select>&nbsp;</td>
									{% else %}
									<td>&nbsp;{{ extended_user_tipp.TIRED_CARS }}&nbsp;</td>
									{% endif %}
									<td class="responsive-hide centerf1">&nbsp;{{ extended_user_tipp.SINGLE_TIRED }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td class="rightf1"><strong>&nbsp;{{ lang('FORMEL_SAFETYCAR') }}{{ lang('COLON') }}</strong></td>
									{% if not extended_user_tipp.S_RACE_OVER %}
									<td>&nbsp;<select name="place13" size="1">{{ extended_user_tipp.OPTION_LIST_SAFETYCAR }}</select>&nbsp;</td>
									{% else %}
									<td>&nbsp;{{ extended_user_tipp.SAFETYCARS }}&nbsp;</td>
									{% endif %}
									<td class="responsive-hide centerf1">&nbsp;{{ extended_user_tipp.SINGLE_SAFETY_CAR }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% for extended_user_tipp_gfx in extended_users_tipp_gfx %}
								<tr class="bg1">
									<td class="rightf1"><strong>&nbsp;{{ lang('FORMEL_PACE') }}{{ lang('COLON') }}</strong></td>
									{% if not extended_user_tipp_gfx.S_RACE_OVER %}
									<td>&nbsp;<select name="place11" size="1">{{ extended_user_tipp_gfx.OPTION_LIST_PACE }}</select>&nbsp;</td>
									{% else %}
									<td>&nbsp;{{ extended_user_tipp_gfx.DRIVER_FASTEST }}&nbsp;</td>
									{% endif %}
									<td class="responsive-hide centerf1">&nbsp;{{ extended_user_tipp_gfx.SINGLE_FASTEST }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td class="rightf1"><strong>&nbsp;{{ lang('FORMEL_TIRED') }}{{ lang('COLON') }}</strong></td>
									{% if not extended_user_tipp_gfx.S_RACE_OVER %}
									<td>&nbsp;<select name="place12" size="1">{{ extended_user_tipp_gfx.OPTION_LIST_TIRED }}</select>&nbsp;</td>
									{% else %}
									<td>&nbsp;{{ extended_user_tipp_gfx.TIRED_CARS }}&nbsp;</td>
									{% endif %}
									<td class="responsive-hide centerf1">&nbsp;{{ extended_user_tipp_gfx.SINGLE_TIRED }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td class="rightf1"><strong>&nbsp;{{ lang('FORMEL_SAFETYCAR') }}{{ lang('COLON') }}</strong></td>
									{% if not extended_user_tipp_gfx.S_RACE_OVER %}
									<td>&nbsp;<select name="place13" size="1">{{ extended_user_tipp_gfx.OPTION_LIST_SAFETYCAR }}</select>&nbsp;</td>
									{% else %}
									<td>&nbsp;{{ extended_user_tipp_gfx.SAFETYCARS }}&nbsp;</td>
									{% endif %}
									<td class="responsive-hide centerf1">&nbsp;{{ extended_user_tipp_gfx.SINGLE_SAFETY_CAR }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% for add_tipp in add_tipps %}
								{% if add_tipp.S_ROW_COUNT < 3 %}
								<tr class="bg1">
								{% else %}
								<tr class="bg2">
								{% endif %}
									<td class="rightf1"><strong>&nbsp;{{ add_tipp.L_PLACE }}&nbsp;</strong></td>
									{% if not add_tipp.S_GUEST %}
									<td>&nbsp;<select id="{{ add_tipp.BOX_NAME }}" name="{{ add_tipp.BOX_NAME }}" onchange="javascript:drivers()" size="1">{{ add_tipp.OPTION_LIST_DRIVER }}</select></td>
									{% else %}
									<td><br />{{ lang('FORMEL_GUESTS_PLACE_NO_TIP') }}</td>
									{% endif %}
									<td>&nbsp;</td>
								</tr>
								{% endfor %}
								{% for extended_add_tipp in extended_add_tipps %}
								<tr class="bg1">
									<td class="rightf1"><strong>&nbsp;{{ lang('FORMEL_PACE') }}{{ lang('COLON') }}</strong></td>
									<td>&nbsp;<select name="place11" size="1">{{ extended_add_tipp.OPTION_LIST_PACE }}</select>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td class="rightf1"><strong>&nbsp;{{ lang('FORMEL_TIRED') }}{{ lang('COLON') }}</strong></td>
									<td>&nbsp;<select name="place12" size="1">{{ extended_add_tipp.OPTION_LIST_TIRED }}</select>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td class="rightf1"><strong>&nbsp;{{ lang('FORMEL_SAFETYCAR') }}{{ lang('COLON') }}</strong></td>
									<td>&nbsp;<select name="place13" size="1">{{ extended_add_tipp.OPTION_LIST_SAFETYCAR }}</select>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								{% endfor %}
								{% for extended_result in extended_results %}
								<tr class="bg1">
									<td class="rightf1"><span class="pointsf1"><strong>&nbsp;{{ lang('FORMEL_YOUR_POINTS') }}{{ lang('COLON') }}</strong></span></td>
									<td class="responsive-hide">&nbsp;</td>
									<td class="centerf1"><span class="pointsf1"><strong>&nbsp;{{ extended_result.YOUR_POINTS }}</strong></span></td>
								</tr>
								{% endfor %}
								{% for extended_result_gfx in extended_results_gfx %}
								<tr class="bg1">
									<td class="rightf1"><span class="pointsf1"><strong>&nbsp;{{ lang('FORMEL_YOUR_POINTS') }}{{ lang('COLON') }}</strong></span></td>
									<td class="responsive-hide">&nbsp;</td>
									<td class="centerf1"><span class="pointsf1"><strong>&nbsp;{{ extended_result_gfx.YOUR_POINTS }}</strong></span></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</td>
				</tr>
			</table>

			<input type="hidden" name="race_offset" value="{{ RACE_OFFSET }}" />
			<input type="hidden" name="race_id" value="{{ RACE_ID }}" />
			<input type="hidden" name="tipp_time" value="{{ RACE_TIME }}" />
			<input type="hidden" name="racename" value="{{ RACENAME }}" />
			{{ S_FORM_TOKEN }}

			<p class="stat-block"></p>

			<div class="navbar bg3">
				{% if games_over %}
				<p class="contentspacef1 centercontentf1">
					{{ lang('FORMEL_GAME_OVER') }}
				</p>
				{% else %}
				<p class="centercontentf1 contentspacef1">
					{% for place_tipp in place_tipps %}
					<input class="button" type="submit" name="{{ place_tipp.PLACE_TIPP }}" value="{{ place_tipp.L_PLACE_TIPP }}" />
					{% if place_tipp.DELETE_TIPP %}
					&nbsp;<input class="button" type="submit" name="del_tipp" value="{{ lang('FORMEL_DEL_TIPP') }}" />&nbsp;&nbsp;
					{% endif %}
					{% endfor %}
				</p>
				{% endif %}
				<p class="centercontentf1 contentspacef1">
					<input class="button" type="submit" name="prev" value="{{ lang('FORMEL_PREV_RACE') }}" />&nbsp;
					<input class="button" type="submit" name="next" value="{{ lang('FORMEL_NEXT_RACE') }}" />
				</p>
			</div>

		</div>
	</div>

	<input type="text" class="inputbox autowidth centercontentf1 contentspacef1" name="honeypot" id="honeypot" value="" size="30" tabindex="3" />

</form>
{% endif %}


{% if S_RESULTS %}
<h2>{{ lang('FORMEL_RESULTS_TITLE') }}</h2>
{{ lang('FORMEL_RESULTS_TITLE_EXP') }}

<div class="forumbg">
	<div class="inner">

		<table class="table1 tablef1">
			<thead>
				<tr>
					<th colspan="2"><strong>{{ lang('FORMEL_RACENAME') }}</strong></th>
					<th><strong>{{ lang('FORMEL_CURRENT_QUALI') }}</strong></th>
					<th><strong>{{ lang('FORMEL_CURRENT_RESULT') }}</strong></th>
				</tr>
			</thead>
			<tbody>
			{% for racerow_gfxr in racerows_gfxr %}
				{% if racerow_gfxr.S_ROW_COUNT is even %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td class="nowrapf1">
						&nbsp;<img src="{{ racerow_gfxr.EXT_PATH }}images/races/{{ racerow_gfxr.RACEIMG }}" width="94" height="54" alt="" />&nbsp;
					</td>
					<td class="nowrapfullf1">
						<strong>{{ racerow_gfxr.RACENAME }}</strong>
						<br>
						<strong>{{ lang('TIME') }}{{ lang('COLON') }}</strong> {{ racerow_gfxr.RACETIME }}
						<br>
						<strong>{{ lang('FORMEL_RACEDEAD') }}{{ lang('COLON') }}</strong> {{ racerow_gfxr.RACEDEAD }}
					</td>
					<td class="nowrapf1 centerf1">
						<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
							<div>
								{% if racerow_gfxr.QUALI_BUTTONS == 'add' %}
								&nbsp;<input class="button" type="submit" name="quali" value="{{ lang('FORMEL_RESULTS_ADD') }}" />&nbsp;
								{% elseif racerow_gfxr.QUALI_BUTTONS == 'edit' %}
								&nbsp;<input class="button" type="submit" name="editquali" value="{{ lang('FORMEL_EDIT') }}" />&nbsp;&nbsp;<input class="button" type="submit" name="resetquali" value="{{ lang('FORMEL_DELETE') }}" />&nbsp;
								{% endif %}
								<input type="hidden" name="race_id" value="{{ racerow_gfxr.RACEID }}" />
								<input type="hidden" name="racename" value="{{ racerow_gfxr.RACENAME }}" />
								{{ S_FORM_TOKEN }}
							</div>
						</form>
					</td>
					<td class="nowrapf1 centerf1">
						<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
							<div>
								{% if racerow_gfxr.RESULT_BUTTONS == 'add' %}
								&nbsp;<input class="button" type="submit" name="result" value="{{ lang('FORMEL_RESULTS_ADD') }}" />&nbsp;
								{% elseif racerow_gfxr.RESULT_BUTTONS == 'edit' %}
								&nbsp;<input class="button" type="submit" name="editresult" value="{{ lang('FORMEL_EDIT') }}" />&nbsp;&nbsp;<input class="button" type="submit" name="resetresult" value="{{ lang('FORMEL_DELETE') }}" />&nbsp;
								{% endif %}
								<input type="hidden" name="race_id" value="{{ racerow_gfxr.RACEID }}" />
								<input type="hidden" name="racename" value="{{ racerow_gfxr.RACENAME }}" />
								{{ S_FORM_TOKEN }}
							</div>
						</form>
					</td>
				</tr>
			{% endfor %}
			{% for racerow in racerows %}
				{% if racerow.S_ROW_COUNT is even %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td class="nowrapfullf1" colspan="2">
						<strong>{{ racerow.RACENAME }}</strong>
						<br>
						<strong>{{ lang('TIME') }}{{ lang('COLON') }}</strong> {{ racerow.RACETIME }}
						<br>
						<strong>{{ lang('FORMEL_RACEDEAD') }}{{ lang('COLON') }}</strong> {{ racerow.RACEDEAD }}
					</td>
					<td class="nowrapf1 centerf1">
						<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
							<div>
								{% if racerow.QUALI_BUTTONS == 'add' %}
								&nbsp;<input class="button" type="submit" name="quali" value="{{ lang('FORMEL_RESULTS_ADD') }}" />&nbsp;
								{% elseif racerow.QUALI_BUTTONS == 'edit' %}
								&nbsp;<input class="button" type="submit" name="editquali" value="{{ lang('FORMEL_EDIT') }}" />&nbsp;&nbsp;<input class="button" type="submit" name="resetquali" value="{{ lang('FORMEL_DELETE') }}" />&nbsp;
								{% endif %}
								<input type="hidden" name="race_id" value="{{ racerow.RACEID }}" />
								{{ S_FORM_TOKEN }}
							</div>
						</form>
					</td>
					<td class="nowrapf1 centerf1">
						<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
							<div>
								{% if racerow.RESULT_BUTTONS == 'add' %}
								&nbsp;<input class="button" type="submit" name="result" value="{{ lang('FORMEL_RESULTS_ADD') }}" />&nbsp;
								{% elseif racerow.RESULT_BUTTONS == 'edit' %}
								&nbsp;<input class="button" type="submit" name="editresult" value="{{ lang('FORMEL_EDIT') }}" />&nbsp;&nbsp;<input class="button" type="submit" name="resetresult" value="{{ lang('FORMEL_DELETE') }}" />&nbsp;
								{% endif %}
								<input type="hidden" name="race_id" value="{{ racerow.RACEID }}" />
								{{ S_FORM_TOKEN }}
							</div>
						</form>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

	</div>
</div>
{% endif %}


{% if S_ADDRESULTS %}

{% INCLUDEJS '@drdeath_f1webtip/f1webtip_functions.js' %}
<script>var places = {{ PLACES }}</script>

<h2>{{ lang('FORMEL_RESULTS_TITLE') }}</h2>
{{ lang('FORMEL_RESULTS_TITLE_EXP') }}

<div class="forumbg">
	<div class="inner">

		<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
			<table class="table1 tablef1">
				{% if qualifications %}
				<thead>
					<tr>
						<th colspan="2"><strong>{{ lang('FORMEL_RESULTS_QUALI_TITLE') }}</strong></th>
					</tr>
				</thead>
				<tbody>
				{% endif %}
				{% for qualirow in qualirows %}
					{% if qualirow.S_ROW_COUNT < 10 %}
					<tr class="bg1">
					{% elseif qualirow.S_ROW_COUNT < 15 %}
					<tr class="bg2">
					{% else %}
					<tr class="bg3">
					{% endif %}
						<td class="halff1 rightf1">{{ qualirow.L_PLACE }}&nbsp;</td>
						<td class="halff1">&nbsp;<select id="{{ qualirow.BOX_NAME }}" name="{{ qualirow.BOX_NAME }}" onchange="javascript:drivers()" size="1">{{ qualirow.OPTION_LIST_DRIVER }}</select></td>
					</tr>
				{% endfor %}
				{% if qualifications %}
					<tr>
						<td class="bg3 nowrapf1 centerf1" colspan="2">&nbsp;<input class="button" type="submit" name="addquali" value="{{ lang('FORMEL_RESULTS_ADD') }}" />&nbsp;</td>
					</tr>
				{% endif %}
				{% if results %}
				<thead>
					<tr>
						<th colspan="2"><strong>{{ lang('FORMEL_RESULTS_RESULT_TITLE') }}</strong></th>
					</tr>
				</thead>
				<tbody>
				{% endif %}
				{% for resultrow in resultsrow %}
					{% if resultrow.S_ROW_COUNT < 3 %}
					<tr class="bg1">
					{% else %}
					<tr class="bg3">
					{% endif %}
						<td class="halff1 rightf1">{{ resultrow.L_PLACE }}&nbsp;</td>
						<td class="halff1">&nbsp;<select id="{{ resultrow.BOX_NAME }}" name="{{ resultrow.BOX_NAME }}" onchange="javascript:drivers()" size="1">{{ resultrow.OPTION_LIST_DRIVER }}</select></td>
					</tr>
					{% endfor %}
					{% for result in results %}
					<tr class="bg1">
						<td class="halff1 rightf1">{{ lang('FORMEL_PACE') }}&nbsp;</td>
						<td class="halff1">&nbsp;<select name="place11" size="1">{{ result.OPTION_LIST_PACE }}</select></td>
					</tr>
					<tr class="bg1">
						<td class="halff1 rightf1">{{ lang('FORMEL_TIRED') }}&nbsp;</td>
						<td class="halff1">&nbsp;<select name="place12" size="1">{{ result.OPTION_LIST_TIRED }}</select></td>
					</tr>
					<tr class="bg1">
						<td class="halff1 rightf1">{{ lang('FORMEL_SAFETYCAR') }}&nbsp;</td>
						<td class="halff1">&nbsp;<select name="place13" size="1">{{ result.OPTION_LIST_SAFETYCAR }}</select></td>
					</tr>
					<tr class="bg1">
						<td class="halff1 rightf1">{{ lang('FORMEL_RACE_ABORD') }}&nbsp;</td>
						<td class="halff1">&nbsp;<input type="radio" name="race_abort" value="1" />&nbsp;{{ lang('YES') }}&nbsp;&nbsp;<input type="radio" name="race_abort" value="0" checked />&nbsp;{{ lang('NO') }}&nbsp;</td>
					</tr>
					<tr class="bg1">
						<td class="halff1 rightf1">{{ lang('FORMEL_RACE_DOUBLE') }}&nbsp;</td>
						<td class="halff1">&nbsp;<input type="radio" name="race_double" value="1" />&nbsp;{{ lang('YES') }}&nbsp;&nbsp;<input type="radio" name="race_double" value="0" checked />&nbsp;{{ lang('NO') }}&nbsp;</td>
					</tr>
					<tr class="bg3">
						<td class="centerf1" colspan="2"><input class="button" type="submit" name="{{ result.MODE }}" value="{{ lang('FORMEL_RESULTS_ADD') }}" /></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<div>
				<input type="hidden" name="race_id" value="{{ RACE_ID }}" />
				<input type="hidden" name="racename" value="{{ RACENAME }}" />
				{{ S_FORM_TOKEN }}
			</div>
		</form>

	</div>
</div>
{% endif %}


{% if S_RULES %}
<h2>{{ lang('FORMEL_TITLE') }}</h2>

<div class="forumbg">
	<div class="inner">

		<div>
			{% if heads_on %}
			<div class="responsive-hide">
				<p class="headerspacef1 centercontentf1">
					<img src="{{ HEADER_IMG }}" width="{{ HEADER_WIDTH }}" height="{{ HEADER_HEIGHT }}" alt="" >
				</p>
			</div>
			{% endif %}

			<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
				<div>
					<p class="contentspacef1 centercontentf1">
						<input class="button" type="submit" name="rules" value="{{ lang('FORMEL_BACK_TO_TIPP') }}" />
					</p>
				</div>
			</form>
		</div>

	</div>
</div>

<div class="forumbg">
	<div class="inner">

		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt class="racef1size">{{ lang('FORMEL_RULES_TITLE') }}</dt>
					<dd></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<li class="row">
				<dl>
					<dt class="rulesf1header">
						{{ lang('FORMEL_RULES_GENERAL') }}
					</dt>
					<dd class="responsive-show rulesf1content">
						<p class="rulesf1">{{ lang('FORMEL_RULES_GENERAL_EXP') }}</p>
					</dd>
				</dl>
			</li>

			<li class="row">
				<dl>
					<dt class="rulesf1header">
						{{ lang('FORMEL_RULES_SCORE') }}
					</dt>
					<dd class="responsive-show rulesf1content">
						<p class="rulesf1">{{ lang('FORMEL_RULES_SCORE_EXP') }}</p>
						<p class="rulesf1">- {{ FORMEL_RULES_MENTIONED }}</p>
						<p class="rulesf1">- {{ FORMEL_RULES_PLACED }}</p>
						<p class="rulesf1">- {{ FORMEL_RULES_FASTEST }}</p>
						<p class="rulesf1">- {{ FORMEL_RULES_TIRED }}</p>
						<p class="rulesf1">- {{ FORMEL_RULES_SAFETYCAR }}</p>
						<p class="rulesf1">{{ FORMEL_RULES_TOTAL }}</p>
					</dd>
				</dl>
			</li>
		</ul>

	</div>
</div>
{% endif %}

{% if S_STATS %}
<h2>{{ lang('FORMEL_STATS_TITLE') }}</h2>

<div class="forumbg">
	<div class="inner">

		<div>
			{% if heads_on %}
			<div class="responsive-hide ">
				<p class="headerspacef1 centercontentf1">
					<img src="{{ HEADER_IMG }}" width="{{ HEADER_WIDTH }}" height="{{ HEADER_HEIGHT }}" alt="" >
				</p>
			</div>
			{% endif %}

			<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
				<div>
					<p class="contentspacef1 centercontentf1">
						<input class="button" type="button" onclick="window.location.href='{{ U_BACK_TO_TIPP }}'" value="{{ lang('FORMEL_BACK_TO_TIPP') }}" />&nbsp;&nbsp;
						<input class="button" type="submit" name="show_users" value="{{ lang('FORMEL_USER_STATS') }}" />&nbsp;&nbsp;
						<input class="button" type="submit" name="show_drivers" value="{{ lang('FORMEL_DRIVER_STATS') }}" />&nbsp;&nbsp;
						<input class="button" type="submit" name="show_teams" value="{{ lang('FORMEL_TEAM_STATS') }}" />
					</p>
				</div>
			</form>
		</div>

	</div>
</div>

<h2><strong>{{ lang('STAT_TABLE_TITLE') }}</strong></h2>

<div class="forumbg">
	<div class="inner">

		<table class="table1 tablef1">
			{% for top_tipper in top_tippers %}
			{% if top_tipper.S_ROW_COUNT == 0 %}
			<thead>
				<tr>
					<th><strong>{{ lang('FORMEL_PLACE') }}</strong></th>
					{% if top_tipper.S_AVATAR_SWITCH == true %}
					<th><strong>{{ lang('USER_AVATAR') }}</strong></th>
					{% endif %}
					<th><strong>{{ lang('USERNAME') }}</strong></th>
					<th><strong>{{ lang('FORMEL_TOP_POINTS') }}</strong></th>
				</tr>
			</thead>
			<tbody>
			{% endif %}
				{% if top_tipper.S_ROW_COUNT < 3 %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td class="centerf1">{{ top_tipper.RANK }}</td>
					{% if top_tipper.S_AVATAR_SWITCH == true and top_tipper.TIPPER_AVATAR == false %}
						<td class="centerf1" style="width: {{ top_tipper.TIPPER_AVATAR_WIDTH }}px; height: {{ top_tipper.TIPPER_AVATAR_HEIGHT }};"><img src="{{ top_tipper.CORRECTED_PATH }}styles/prosilver/theme/images/no_avatar.gif" alt="" /></td>;
					{% endif %}
					{% if top_tipper.S_AVATAR_SWITCH == true and top_tipper.TIPPER_AVATAR == true %}
						<td class="centerf1" style="width: {{ top_tipper.TIPPER_AVATAR_WIDTH }}px; height: {{ top_tipper.TIPPER_AVATAR_HEIGHT }};">{{ top_tipper.TIPPER_AVATAR }}</td>	
					{% endif %}
					<td class="nowrapf1 centerf1">{{ top_tipper.TIPPER_NAME }}</td>
					<td class="centerf1">{{ top_tipper.TIPPER_POINTS }}</td>
				</tr>
			{% endfor %}

			{% for top_driver_gfx in top_drivers_gfx %}
			{% if top_driver_gfx.S_ROW_COUNT == 0 %}
			<thead>
				<tr>
					<th><strong>{{ lang('FORMEL_PLACE') }}</strong></th>
					<th><strong>{{ lang('FORMEL_STATS_TEAMIMAGE') }}</strong></th>
					<th><strong>{{ lang('FORMEL_STATS_TEAMCAR') }}</strong></th>
					<th><strong>{{ lang('FORMEL_STATS_DRIVERIMAGE') }}</strong></th>
					<th class="halff1"><strong>{{ lang('FORMEL_STATS_DRIVERNAME') }}</strong></th>
					<th><strong>{{ lang('FORMEL_TOP_POINTS') }}</strong></th>
				</tr>
			</thead>
			<tbody>
			{% endif %}
				{% if top_driver_gfx.S_ROW_COUNT < 3 %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td class="centerf1">{{ top_driver_gfx.RANK }}</td>
					<td class="centerf1">&nbsp;<img src="{{ top_driver_gfx.EXT_PATH }}images/teams/{{ top_driver_gfx.WM_DRIVERTEAM }}"  alt="" width="{{ top_driver_gfx.WM_DRIVERTEAM_WIDTH }}" height="{{ top_driver_gfx.WM_DRIVERTEAM_HEIGHT }}">&nbsp;</td>
					<td class="centerf1">&nbsp;<img src="{{ top_driver_gfx.EXT_PATH }}images/cars/{{ top_driver_gfx.WM_DRIVERCAR }}"    alt="" width="{{ top_driver_gfx.WM_DRIVERCAR_WIDTH }}"  height="{{ top_driver_gfx.WM_DRIVERCAR_HEIGHT }}" >&nbsp;</td>
					<td class="centerf1">&nbsp;<img src="{{ top_driver_gfx.EXT_PATH }}images/drivers/{{ top_driver_gfx.WM_DRIVERIMG }}" alt="" width="{{ top_driver_gfx.WM_DRIVERIMG_WIDTH }}"  height="{{ top_driver_gfx.WM_DRIVERIMG_HEIGHT }}" >&nbsp;</td>
					<td class="nowraphalff1 centerf1">&nbsp;{{ top_driver_gfx.WM_DRIVERNAME }}</td>
					<td class="centerf1">{{ top_driver_gfx.WM_POINTS }}</td>
				</tr>
			{% endfor %}

			{% for top_driver in top_drivers %}
			{% if top_driver.S_ROW_COUNT == 0 %}
			<thead>
				<tr>
					<th class="centerf1"><strong>{{ lang('FORMEL_PLACE') }}</strong></th>
					<th class="halff1 centerf1"><strong>Name</strong></th>
					<th class="centerf1"><strong>{{ lang('FORMEL_TOP_POINTS') }}</strong></th>
				</tr>
			</thead>
			<tbody>
			{% endif %}
				{% if top_driver.S_ROW_COUNT < 3 %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td class="centerf1">{{ top_driver.RANK }}</td>
					<td class="nowraphalff1 centerf1">&nbsp;{{ top_driver.WM_DRIVERNAME }}</td>
					<td class="centerf1">{{ top_driver.WM_POINTS }}</td>
				</tr>
			{% endfor %}

			{% for top_team_gfx in top_teams_gfx %}
			{% if top_team_gfx.S_ROW_COUNT == 0 %}
			<thead>
				<tr>
					<th class="centerf1"><strong>{{ lang('FORMEL_PLACE') }}</strong></th>
					<th class="centerf1"><strong>{{ lang('FORMEL_STATS_TEAMIMAGE') }}</strong></th>
					<th class="centerf1"><strong>{{ lang('FORMEL_STATS_TEAMCAR') }}</strong></th>
					<th class="halff1 centerf1"><strong>{{ lang('FORMEL_STATS_TEAMNAME') }}</strong></th>
					<th class="centerf1"><strong>{{ lang('FORMEL_TOP_POINTS') }}</strong></th>
				</tr>
			</thead>
			<tbody>
			{% endif %}
				{% if top_team_gfx.S_ROW_COUNT < 3 %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td class="centerf1">{{ top_team_gfx.RANK }}</td>
					<td class="centerf1"><img src="{{ top_team_gfx.EXT_PATH }}images/teams/{{ top_team_gfx.WM_TEAMIMG }}" alt="" width="{{ top_team_gfx.WM_TEAMIMG_WIDTH }}" height="{{ top_team_gfx.WM_TEAMIMG_HEIGHT }}"</td>
					<td class="centerf1"><img src="{{ top_team_gfx.EXT_PATH }}images/cars/{{ top_team_gfx.WM_TEAMCAR }}"  alt="" width="{{ top_team_gfx.WM_TEAMCAR_WIDTH }}" height="{{ top_team_gfx.WM_TEAMCAR_HEIGHT }}"</td>
					<td class="nowraphalff1 centerf1">&nbsp;{{ top_team_gfx.WM_TEAMNAME }}</td>
					<td class="centerf1">{{ top_team_gfx.WM_POINTS }}</td>
				</tr>
			{% endfor %}

			{% for top_team in top_teams %}
			{% if top_team.S_ROW_COUNT == 0 %}
			<thead>
				<tr>
					<th class="centerf1"><strong>{{ lang('FORMEL_PLACE') }}</strong></th>
					<th class="halff1 centerf1"><strong>{{ lang('FORMEL_STATS_TEAMNAME') }}</strong></th>
					<th class="centerf1"><strong>{{ lang('FORMEL_TOP_POINTS') }}</strong></th>
				</tr>
			</thead>
			<tbody>
			{% endif %}
				{% if top_team.S_ROW_COUNT < 3 %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td class="centerf1">{{ top_team.RANK }}</td>
					<td class="nowraphalff1 centerf1">&nbsp;{{ top_team.WM_TEAMNAME }}</td>
					<td class="centerf1">{{ top_team.WM_POINTS }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

	</div>
</div>
{% endif %}


<!--
Please leave the copyright information at the bottom of your page for our extension.
//-->
<div class="copyright leftf1">
	&copy; <a href="http://www.lpi-clan.de">LPI-Clan</a> ( Dr.Death )
</div>

<!--
Please donate via paypal
//-->
<div>
	<p class="donatef1">
		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=F4HV6U5LZFBMN&source=url&item_name=Formel+1+Web+Tipp">
			<img src="{{ EXT_PATH_IMAGES }}f1webtip_paypal_button.gif" alt="PayPal - The safer, easier way to pay online!" >
		</a>
	</p>
	<p class="contentspacef1 donatef1">
		{{ lang('FORMEL_DONATE') }}
	</p>
</div>

{% INCLUDE 'overall_footer.html' %}

{% endif %}


{% if S_USERTIPP %}
{% INCLUDE 'simple_header.html' %}
<div>
	<div class="inner">
		<table class="tablef1">
			<thead>
				<tr>
					<th colspan="3">
						<strong>{{ lang('FORMEL_TITLE') }}</strong>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for user_tipp in user_tipps %}
				<tr class="bg3">
					<td class="centerf1" colspan="3" >{{ user_tipp.TIPPER }}</td>
				</tr>
				{% endfor %}
				{% for user_driver in user_drivers %}
				{% if user_driver.S_ROW_COUNT < 3 %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td class="thirtyf1 rightf1"><strong>&nbsp;{{ user_driver.POSITION }}{{ lang('COLON') }}&nbsp;</strong></td>
					<td class="halff1">&nbsp;{{ user_driver.DRIVER_PLACED }}&nbsp;</td>
					<td class="twentyf1">&nbsp;{{ user_driver.SINGLE_POINTS }}&nbsp;</td>
				</tr>
				{% endfor %}
				{% for user_tipp in user_tipps %}
				<tr class="bg1">
					<td class="thirtyf1 rightf1"><strong>&nbsp;{{ lang('FORMEL_PACE') }}{{ lang('COLON') }}&nbsp;</strong></td>
					<td class="halff1">&nbsp;{{ user_tipp.FASTEST_DRIVER }}&nbsp;</td>
					<td class="twentyf1">&nbsp;{{ user_tipp.SINGLE_FASTEST }}&nbsp;</td>
				</tr>
				<tr class="bg2">
					<td class="thirtyf1 rightf1"><strong>&nbsp;{{ lang('FORMEL_TIRED') }}{{ lang('COLON') }}&nbsp;</strong></td>
					<td class="halff1">&nbsp;{{ user_tipp.TIRED }}&nbsp;</td>
					<td class="twentyf1">&nbsp;{{ user_tipp.SINGLE_TIRED }}&nbsp;</td>
				</tr>
				<tr class="bg1">
					<td class="thirtyf1 rightf1"><strong>&nbsp;{{ lang('FORMEL_SAFETYCAR') }}{{ lang('COLON') }}&nbsp;</strong></td>
					<td class="halff1">&nbsp;{{ user_tipp.SAFETYCAR }}&nbsp;</td>
					<td class="twentyf1">&nbsp;{{ user_tipp.SINGLE_SAFETY_CAR }}&nbsp;</td>
				</tr>
				<tr class="bg3">
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr class="bg1">
					<td class="pointsf1 halff1 rightf1"><strong>&nbsp;{{ lang('FORMEL_POINTS_WON') }}{{ lang('COLON') }}&nbsp;</strong></td>
					<td class="pointsf1 halff1 rightf1" colspan="2"><strong>&nbsp;{{ user_tipp.POINTS }}&nbsp;</strong></td>
				</tr>
				<tr class="bg2">
					<td class="halff1 rightf1"><strong>&nbsp;{{ lang('FORMEL_ALL_POINTS') }}{{ lang('COLON') }}&nbsp;</strong></td>
					<td class="halff1" colspan="2">&nbsp;{{ user_tipp.ALL_POINTS }}&nbsp;</td>
				</tr>
				{% endfor %}
				{% if no_tipps %}
				<tr>
					<td class="centerf1" colspan="2">&nbsp;{{ lang('FORMEL_NO_TIPP') }}&nbsp;</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
		<div style="text-align: center;">
			<p class="contentspacef1 submit-buttons">
				<input class="button" id="submit" type="submit" onclick="javascript:window.close()" value="{{ lang('FORMEL_CLOSE_WINDOW') }}" />
			</p>
		</div>

	</div>
</div>
{% INCLUDE 'simple_footer.html' %}
{% endif %}
