<!-- INCLUDE overall_header.html -->

<!-- IF S_INDEX -->

<h2>{L_FORMEL_TITLE}</h2>

<div class="forumbg">
	<div class="inner"><span class="corners-top"><span></span></span>

		<div style="text-align: center;">
			<!-- BEGIN head_on -->
			<br/>
			<img src="{HEADER_IMG}" width="{HEADER_WIDTH}" height="{HEADER_HEIGHT}" alt="" />
			<!-- END head_on -->
			<br/>
			<form action="{S_FORM_ACTION}" method="post" enctype="multipart/form-data">
				<div>
					<br/>
					<input class="button1" type="button" onclick="window.location.href='{U_FORMEL_RULES}'" value="Dummy Button to Rules" /><br/>
					<br/>
				</div>
			</form>
		</div>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- ENDIF -->


<!-- IF S_RULES -->

<h2>{L_FORMEL_TITLE}</h2>

<div class="forumbg">
	<div class="inner"><span class="corners-top"><span></span></span>

		<div style="text-align: center;">
			<!-- BEGIN head_on -->
			<br/>
			<img src="{HEADER_IMG}" width="{HEADER_WIDTH}" height="{HEADER_HEIGHT}" alt="" />
			<!-- END head_on -->
			<br/>
			<form action="{S_FORM_ACTION}" method="post" enctype="multipart/form-data">
				<div>
					<br/>
					<input class="button1" type="button" onclick="window.location.href='{U_FORMEL_INDEX}'" value="{L_FORMEL_BACK_TO_TIPP}" />
				</div>
			</form>
			<br/>
		</div>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="forumbg">
	<div class="inner"><span class="corners-top"><span></span></span>

		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt style="font-size : 1.2em;">{L_FORMEL_RULES_TITLE}</dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<li class="row">
				<dl>
					<dt style="padding: 5px 12px; font-size : 1.2em; font-weight: bold;">
						{L_FORMEL_RULES_GENERAL}
					</dt>
					<dd class="responsive-show" style="padding: 5px 12px; font-size : 1.2em;">
						{L_FORMEL_RULES_GENERAL_EXP}<br/>
					</dd>
				</dl>
			</li>

			<li class="row">
				<dl>
					<dt style="padding: 5px 12px; font-size : 1.2em; font-weight: bold;">
						{L_FORMEL_RULES_SCORE}
					</dt>
					<dd class="responsive-show" style="padding: 5px 12px; font-size : 1.2em;">
					    {L_FORMEL_RULES_SCORE_EXP}<br/><br/>
						- {FORMEL_RULES_MENTIONED}<br/>
						- {FORMEL_RULES_PLACED}<br/>
						- {FORMEL_RULES_FASTEST}<br/>
						- {FORMEL_RULES_TIRED}<br/>
						- {FORMEL_RULES_SAFETYCAR}<br/>
						<br />
						{FORMEL_RULES_TOTAL}
						<br />
					</dd>
				</dl>
			</li>
		</ul>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!--
Please leave the copyright information at the bottom of your page for our mod.
//-->
<small>
	<span class="genmed">&copy;<a href="http://www.lpi-clan.de">LPI-Clan</a> ( Dr.Death )</span>
</small>
<br />
<div style="text-align: center;">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_donations" />
		<input type="hidden" name="business" value="stefan_temath@hotmail.com" />
		<input type="hidden" name="lc" value="DZ" />
		<input type="hidden" name="item_name" value="phpbb3f1webtipp" />
		<input type="hidden" name="no_note" value="0" />
		<input type="hidden" name="currency_code" value="EUR" />
		<input type="hidden" name="bn" value="PP-DonationsBF:images_logo_lg.gif:NonHostedGuest" />
		<input type="image" src="{EXT_PATH_IMAGES}/f1webtip_paypal_button.png" border="0" name="submit1" alt="PayPal - The safer, easier way to pay online!" />
	</form>
</div>
<br />

<!-- INCLUDE overall_footer.html -->