<!-- INCLUDE overall_header.html -->

<!-- IF S_INDEX -->

<script type="text/javascript">
// <![CDATA[
function showtipps(showtipps)
{
	window.open(showtipps, "_showtipps", "width=400, height=630, resizable=yes");
}
// ]]>
</script>

<form id="countdown" action="{U_FORM_ACTION}" method="post" enctype="multipart/form-data">
	<h2>{L_FORMEL_TITLE}</h2>

	<div class="forumbg">
		<div class="inner"><span class="corners-top"><span></span></span>

			<div style="text-align: center;">
				<!-- BEGIN head_on -->
				<br/>
				<img src="{HEADER_IMG}" width="{HEADER_WIDTH}" height="{HEADER_HEIGHT}" alt="" />
				<!-- END head_on -->
				<br/>
				<form action="{S_FORM_ACTION}" method="post" enctype="multipart/form-data">
					<div>
						<br/>
						<input class="button1" type="button" onclick="window.location.href='{U_FORMEL_RULES}'" value="{L_FORMEL_RULES}" />&nbsp;&nbsp;
						{U_FORMEL_FORUM}
						<input class="button1" type="button" onclick="window.location.href='{U_FORMEL_STATISTICS}'" value="{L_FORMEL_STATISTICS}" />&nbsp;&nbsp;
						<input class="button1" type="button" onclick="window.location.href='{U_FORMEL_CALL_MOD}'"   value="{L_FORMEL_CALL_MOD}" />
						<br/>
						<br/>
					</div>
				</form>
			</div>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="responsive-hide navbar bg2" style=" margin-top: 3px;">
		<div class="inner"><span class="corners-top"><span></span></span>

			<div class="navbar bg2" style="float: left; margin-top: 3px; margin-right: 15px; border-right-width: 1px; border-right-style: solid; border-right-color: #FFFFFF; width: 30%;">
				<table cellspacing="1">
					<thead>
						<tr>
							<th colspan="2" align="center">&nbsp;{L_FORMEL_TOP_NAME}&nbsp;</th>
							<th align="center">&nbsp;{L_FORMEL_TOP_POINTS}&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<!-- BEGIN top_tippers -->
						<!-- IF top_tippers.S_ROW_COUNT is even -->
						<tr class="bg1">
						<!-- ELSE -->
						<tr class="bg2">
						<!-- ENDIF -->
							<td class="bg2" align="center">&nbsp;{top_tippers.RANK}&nbsp;</td>
							<td style="text-align: left; white-space:nowrap; width: 100%;">&nbsp;{top_tippers.TIPPER_NAME}&nbsp;</td>
							<td class="bg2" align="center">&nbsp;{top_tippers.TIPPER_POINTS}&nbsp;</td>
						</tr>
						<!-- END top_tippers -->
						<tr>
							<td valign="middle" colspan="3" align="center"><small>[<a href="{U_TOP_MORE_USERS}">{L_FORMEL_TOP_MORE}</a>]</small></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="navbar bg2" style="float: right; margin-top: 3px; margin-left: 15px; border-left-width: 1px; border-left-style: solid; border-left-color: #FFFFFF; width: 30%;">
				<table cellspacing="1">
					<thead>
						<tr>
							<th colspan="2" align="center">&nbsp;{L_FORMEL_TOP_TEAMS}&nbsp;</th>
							<th align="center">&nbsp;{L_FORMEL_TOP_POINTS}&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<!-- BEGIN top_teams -->
						<!-- IF top_teams.S_ROW_COUNT is even -->
						<tr class="bg1">
						<!-- ELSE -->
						<tr class="bg2">
						<!-- ENDIF -->
							<td class="bg2" align="center">&nbsp;{top_teams.RANK}&nbsp;</td>
							<td style="text-align: left; white-space:nowrap; width: 100%;">&nbsp;{top_teams.WM_TEAMNAME}&nbsp;</td>
							<td class="bg2" align="center">&nbsp;{top_teams.WM_POINTS}&nbsp;</td>
						</tr>
						<!-- END top_teams -->
						<tr>
							<td valign="middle" colspan="3" align="center"><small>[<a href="{U_TOP_MORE_TEAMS}">{L_FORMEL_TOP_MORE}</a>]</small></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="navbar bg2" style=" margin-top: 3px;">
				<table cellspacing="1">
					<thead>
						<tr>
							<th colspan="2" align="center">&nbsp;{L_FORMEL_TOP_DRIVER}&nbsp;</th>
							<th align="center">&nbsp;{L_FORMEL_TOP_POINTS}&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<!-- BEGIN top_drivers -->
						<!-- IF top_drivers.S_ROW_COUNT is even -->
						<tr class="bg1">
						<!-- ELSE -->
						<tr class="bg2">
						<!-- ENDIF -->
							<td class="bg2" align="center">&nbsp;{top_drivers.RANK}&nbsp;</td>
							<td style="text-align: left; white-space:nowrap; width: 100%;">&nbsp;{top_drivers.WM_DRIVERNAME}&nbsp;</td>
							<td class="bg2" align="center">&nbsp;{top_drivers.WM_POINTS}&nbsp;</td>
						</tr>
						<!-- END top_drivers -->
						<tr>
							<td valign="middle" colspan="3" align="center"><small>[<a href="{U_TOP_MORE_DRIVERS}">{L_FORMEL_TOP_MORE}</a>]</small></td>
						</tr>
					</tbody>
				</table>
			</div>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<p style="clear:both;" />

</form>
<!-- ENDIF -->


<!-- IF S_RULES -->

<h2>{L_FORMEL_TITLE}</h2>

<div class="forumbg">
	<div class="inner"><span class="corners-top"><span></span></span>

		<div style="text-align: center;">
			<!-- BEGIN head_on -->
			<br/>
			<img src="{HEADER_IMG}" width="{HEADER_WIDTH}" height="{HEADER_HEIGHT}" alt="" />
			<!-- END head_on -->
			<br/>
			<form action="{S_FORM_ACTION}" method="post" enctype="multipart/form-data">
				<div>
					<br/>
					<input class="button1" type="button" onclick="window.location.href='{U_FORMEL_INDEX}'" value="{L_FORMEL_BACK_TO_TIPP}" />
				</div>
			</form>
			<br/>
		</div>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="forumbg">
	<div class="inner"><span class="corners-top"><span></span></span>

		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt style="font-size : 1.2em;">{L_FORMEL_RULES_TITLE}</dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<li class="row">
				<dl>
					<dt style="padding: 5px 12px; font-size : 1.2em; font-weight: bold;">
						{L_FORMEL_RULES_GENERAL}
					</dt>
					<dd class="responsive-show" style="padding: 5px 12px; font-size : 1.2em;">
						{L_FORMEL_RULES_GENERAL_EXP}<br/>
					</dd>
				</dl>
			</li>

			<li class="row">
				<dl>
					<dt style="padding: 5px 12px; font-size : 1.2em; font-weight: bold;">
						{L_FORMEL_RULES_SCORE}
					</dt>
					<dd class="responsive-show" style="padding: 5px 12px; font-size : 1.2em;">
					    {L_FORMEL_RULES_SCORE_EXP}<br/><br/>
						- {FORMEL_RULES_MENTIONED}<br/>
						- {FORMEL_RULES_PLACED}<br/>
						- {FORMEL_RULES_FASTEST}<br/>
						- {FORMEL_RULES_TIRED}<br/>
						- {FORMEL_RULES_SAFETYCAR}<br/>
						<br />
						{FORMEL_RULES_TOTAL}
						<br />
					</dd>
				</dl>
			</li>
		</ul>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF S_STATS -->
<h2>{L_FORMEL_STATS_TITLE}</h2>

<div class="forumbg">
	<div class="inner"><span class="corners-top"><span></span></span>

		<div style="text-align: center;">
			<!-- BEGIN head_on -->
			<br/>
			<img src="{HEADER_IMG}" width="{HEADER_WIDTH}" height="{HEADER_HEIGHT}" alt="" />
			<!-- END head_on -->
			<br/><br/>
			<form action="{S_FORM_ACTION}" method="post" enctype="multipart/form-data">
				<div>
					<input class="button1" type="button" onclick="window.location.href='{U_BACK_TO_TIPP}'" value="{L_FORMEL_BACK_TO_TIPP}" />&nbsp;&nbsp;
					<input class="button1" type="submit" name="show_users" value="{L_FORMEL_USER_STATS}" />&nbsp;&nbsp;
					<input class="button1" type="submit" name="show_drivers" value="{L_FORMEL_DRIVER_STATS}" />&nbsp;&nbsp;
					<input class="button1" type="submit" name="show_teams" value="{L_FORMEL_TEAM_STATS}" />
				</div>
			</form>
			<br/>&nbsp;
		</div>

	<span class="corners-bottom"><span></span></span></div>
</div>

<h2><strong>{L_STAT_TABLE_TITLE}</strong></h2>

<div class="forumbg">
	<div class="inner"><span class="corners-top"><span></span></span>

		<table class="table1">
			<!-- BEGIN top_tippers -->
			<!-- IF top_tippers.S_ROW_COUNT == 0 -->
			<thead>
				<tr>
					<th ><strong>{L_FORMEL_PLACE}</strong></th>
					<!-- IF top_tippers.S_AVATAR_SWITCH == true -->
					<th align="center"><strong>{L_USER_AVATAR}</strong></th>
					<!-- ENDIF -->
					<th align="center"><strong>{L_USERNAME}</strong></th>
					<th align="center"><strong>{L_FORMEL_TOP_POINTS}</strong></th>
				</tr>
			</thead>
			<tbody>
			<!-- ENDIF -->
				<!-- IF top_tippers.S_ROW_COUNT < 3 -->
				<tr class="bg1">
				<!-- ELSE -->
				<tr class="bg2">
				<!-- ENDIF -->
					<td align="center" valign="middle">{top_tippers.RANK}</td>
					<!-- IF top_tippers.S_AVATAR_SWITCH == true -->
					<td style="width: {top_tippers.TIPPER_AVATAR_WIDTH}px; height: {top_tippers.TIPPER_AVATAR_HEIGHT}; text-align: center;" valign="middle">{top_tippers.TIPPER_AVATAR}</td>
					<!-- ENDIF -->
					<td style="white-space:nowrap;" align="center" valign="middle">{top_tippers.TIPPER_NAME}</td>
					<td align="center" valign="middle" >{top_tippers.TIPPER_POINTS}</td>
				</tr>
			<!-- END top_tippers -->

			<!-- BEGIN top_drivers_gfx -->
			<!-- IF top_drivers_gfx.S_ROW_COUNT == 0 -->
			<thead>
				<tr>
					<th align="center"><strong>{L_FORMEL_PLACE}</strong></th>
					<th align="center"><strong>{L_ACP_F1_TEAMS_ADDTEAM_TEAMIMAGE}</strong></th>
					<th align="center"><strong>{L_ACP_F1_TEAMS_ADDTEAM_TEAMCAR}</strong></th>
					<th align="center"><strong>{L_ACP_F1_DRIVERS_DRIVERIMAGE}</strong></th>
					<th style="width: 50%;" align="center" ><strong>{L_ACP_F1_DRIVERS_DRIVERNAME}</strong></th>
					<th align="center"><strong>{L_FORMEL_TOP_POINTS}</strong></th>
				</tr>
			</thead>
			<tbody>
			<!-- ENDIF -->
				<!-- IF top_drivers_gfx.S_ROW_COUNT < 3 -->
				<tr class="bg1">
				<!-- ELSE -->
				<tr class="bg2">
				<!-- ENDIF -->
					<td align="center" valign="middle">{top_drivers_gfx.RANK}</td>
					<td valign="middle" align="center">&nbsp;{top_drivers_gfx.WM_DRIVERTEAM}&nbsp;</td>
					<td valign="middle" align="center">&nbsp;{top_drivers_gfx.WM_DRIVERCAR}&nbsp;</td>
					<td valign="middle" align="center">&nbsp;{top_drivers_gfx.WM_DRIVERIMG}&nbsp;</td>
					<td align="center" style="width: 50%; white-space: nowrap;" valign="middle">&nbsp;{top_drivers_gfx.WM_DRIVERNAME}</td>
					<td align="center" valign="middle">{top_drivers_gfx.WM_POINTS}</td>
				</tr>
			<!-- END top_drivers_gfx -->

			<!-- BEGIN top_drivers -->
			<!-- IF top_drivers.S_ROW_COUNT == 0 -->
			<thead>
				<tr>
					<th align="center"><strong>{L_FORMEL_PLACE}</strong></th>
					<th align="center" style="width: 50%;" ><strong>Name</strong></th>
					<th align="center"><strong>{L_FORMEL_TOP_POINTS}</strong></th>
				</tr>
			</thead>
			<tbody>
			<!-- ENDIF -->
				<!-- IF top_drivers.S_ROW_COUNT < 3 -->
				<tr class="bg1">
				<!-- ELSE -->
				<tr class="bg2">
				<!-- ENDIF -->
					<td align="center">{top_drivers.RANK}</td>
					<td align="center" style="width: 50%; white-space: nowrap;">&nbsp;{top_drivers.WM_DRIVERNAME}</td>
					<td align="center">{top_drivers.WM_POINTS}</td>
				</tr>
			<!-- END top_drivers -->

			<!-- BEGIN top_teams_gfx -->
			<!-- IF top_teams_gfx.S_ROW_COUNT == 0 -->
			<thead>
				<tr>
					<th align="center"><strong>{L_FORMEL_PLACE}</strong></th>
					<th align="center"><strong>{L_ACP_F1_TEAMS_ADDTEAM_TEAMIMAGE}</strong></th>
					<th align="center"><strong>{L_ACP_F1_TEAMS_ADDTEAM_TEAMCAR}</strong></th>
					<th style="width: 50%;" align="center"><strong>{L_ACP_F1_TEAMS_ADDTEAM_TEAMNAME}</strong></th>
					<th align="center"><strong>{L_FORMEL_TOP_POINTS}</strong></th>
				</tr>
			</thead>
			<tbody>
			<!-- ENDIF -->
				<!-- IF top_teams_gfx.S_ROW_COUNT < 3 -->
				<tr class="bg1">
				<!-- ELSE -->
				<tr class="bg2">
				<!-- ENDIF -->
					<td align="center" valign="middle">{top_teams_gfx.RANK}</td>
					<td align="center" valign="middle">{top_teams_gfx.WM_TEAMIMG}</td>
					<td align="center" valign="middle">{top_teams_gfx.WM_TEAMCAR}</td>
					<td align="center" style="width: 50%; white-space: nowrap;" valign="middle">&nbsp;{top_teams_gfx.WM_TEAMNAME}</td>
					<td align="center" valign="middle">{top_teams_gfx.WM_POINTS}</td>
				</tr>
			<!-- END top_teams_gfx -->

			<!-- BEGIN top_teams -->
			<!-- IF top_teams.S_ROW_COUNT == 0 -->
			<thead>
				<tr>
					<th align="center"><strong>{L_FORMEL_PLACE}</strong></th>
					<th style="width: 50%;" align="center"><strong>{L_ACP_F1_TEAMS_ADDTEAM_TEAMNAME}</strong></th>
					<th align="center"><strong>{L_FORMEL_TOP_POINTS}</strong></th>
				</tr>
			</thead>
			<tbody>
			<!-- ENDIF -->
				<!-- IF top_teams.S_ROW_COUNT < 3 -->
				<tr class="bg1">
				<!-- ELSE -->
				<tr class="bg2">
				<!-- ENDIF -->
					<td align="center" valign="middle">{top_teams.RANK}</td>
					<td align="center" style="width: 50%; white-space: nowrap;" valign="middle">&nbsp;{top_teams.WM_TEAMNAME}</td>
					<td align="center" valign="middle">{top_teams.WM_POINTS}</td>
				</tr>
			<!-- END top_teams -->
			</tbody>
		</table>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->


<!--
Please leave the copyright information at the bottom of your page for our mod.
//-->
<small>
	<span class="genmed">&copy;<a href="http://www.lpi-clan.de">LPI-Clan</a> ( Dr.Death )</span>
</small>
<br />
<div style="text-align: center;">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_donations" />
		<input type="hidden" name="business" value="stefan_temath@hotmail.com" />
		<input type="hidden" name="lc" value="DZ" />
		<input type="hidden" name="item_name" value="phpbb3f1webtipp" />
		<input type="hidden" name="no_note" value="0" />
		<input type="hidden" name="currency_code" value="EUR" />
		<input type="hidden" name="bn" value="PP-DonationsBF:images_logo_lg.gif:NonHostedGuest" />
		<input type="image" src="{EXT_PATH_IMAGES}f1webtip_paypal_button.png" border="0" name="submit1" alt="PayPal - The safer, easier way to pay online!" />
	</form>
</div>
<br />

<!-- INCLUDE overall_footer.html -->
