{% if not S_USERTIPP %}

{% INCLUDE 'overall_header.html' %}

{% if S_INDEX %}

{% INCLUDEJS '@drdeath_f1webtip/f1webtip_functions.js' %}
{{ VAR_PLACES }}

<form id="countdown" action="{{ U_FORM_ACTION }}" method="post" enctype="multipart/form-data">
	<h2>{{ lang('FORMEL_TITLE') }}</h2>

	<div class="forumbg">
		<div class="inner"><span class="corners-top"><span></span></span>

			<div style="text-align: center;">
				{% if heads_on %}
				<div class="responsive-hide">
					<br>
					<img src="{{ HEADER_IMG }}" width="{{ HEADER_WIDTH }}" height="{{ HEADER_HEIGHT }}" alt="" >
					<br>
				</div>
				{% endif %}
				<br>
				<input class="button1" type="button" onclick="window.location.href='{{ U_FORMEL_RULES }}'" value="{{ lang('FORMEL_RULES') }}" />&nbsp;&nbsp;
				{{ U_FORMEL_FORUM }}
				<input class="button1" type="button" onclick="window.location.href='{{ U_FORMEL_STATISTICS }}'" value="{{ lang('FORMEL_STATISTICS') }}" />
				<br>
				<br>
				<input class="button1" type="button" onclick="window.location.href='{{ U_FORMEL_CALL_MOD }}'" value="{{ lang('FORMEL_CALL_MOD') }}" />
				<br>
				<br>
			</div>

		</div>
	</div>

	<div class="responsive-hide navbar bg2" style=" margin-top: 3px;">
		<div class="inner">

			<div class="navbar bg2" style="float: left; margin-top: 3px; margin-right: 15px; border-right-width: 1px; border-right-style: solid; border-right-color: #FFFFFF; width: 30%;">
				<table cellspacing="1">
					<thead>
						<tr>
							<th colspan="2" align="center">&nbsp;{{ lang('FORMEL_TOP_NAME') }}&nbsp;</th>
							<th align="center">&nbsp;{{ lang('FORMEL_TOP_POINTS') }}&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for top_tipper in top_tippers %}
						{% if top_tipper.S_ROW_COUNT is even %}
						<tr class="bg1">
						{% else %}
						<tr class="bg2">
						{% endif %}
							<td class="bg2" align="center">&nbsp;{{ top_tipper.RANK }}&nbsp;</td>
							<td style="text-align: left; white-space:nowrap; width: 100%;">&nbsp;{{ top_tipper.TIPPER_NAME }}&nbsp;</td>
							<td class="bg2" align="center">&nbsp;{{ top_tipper.TIPPER_POINTS }}&nbsp;</td>
						</tr>
						{% endfor %}
						<tr>
							<td valign="middle" colspan="3" align="center"><small>[<a href="{{ U_TOP_MORE_USERS }}">{{ lang('FORMEL_TOP_MORE') }}</a>]</small></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="navbar bg2" style="float: right; margin-top: 3px; margin-left: 15px; border-left-width: 1px; border-left-style: solid; border-left-color: #FFFFFF; width: 30%;">
				<table cellspacing="1">
					<thead>
						<tr>
							<th colspan="2" align="center">&nbsp;{{ lang('FORMEL_TOP_TEAMS') }}&nbsp;</th>
							<th align="center">&nbsp;{{ lang('FORMEL_TOP_POINTS') }}&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for top_team in top_teams %}
						{% if top_team.S_ROW_COUNT is even %}
						<tr class="bg1">
						{% else %}
						<tr class="bg2">
						{% endif %}
							<td class="bg2" align="center">&nbsp;{{ top_team.RANK }}&nbsp;</td>
							<td style="text-align: left; white-space:nowrap; width: 100%;">&nbsp;{{ top_team.WM_TEAMNAME }}&nbsp;</td>
							<td class="bg2" align="center">&nbsp;{{ top_team.WM_POINTS }}&nbsp;</td>
						</tr>
						{% endfor %}
						<tr>
							<td valign="middle" colspan="3" align="center"><small>[<a href="{{ U_TOP_MORE_TEAMS }}">{{ lang('FORMEL_TOP_MORE') }}</a>]</small></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="navbar bg2" style=" margin-top: 3px;">
				<table cellspacing="1">
					<thead>
						<tr>
							<th colspan="2" align="center">&nbsp;{{ lang('FORMEL_TOP_DRIVER') }}&nbsp;</th>
							<th align="center">&nbsp;{{ lang('FORMEL_TOP_POINTS') }}&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for top_driver in top_drivers %}
						{% if top_driver.S_ROW_COUNT is even %}
						<tr class="bg1">
						{% else %}
						<tr class="bg2">
						{% endif %}
							<td class="bg2" align="center">&nbsp;{{ top_driver.RANK }}&nbsp;</td>
							<td style="text-align: left; white-space:nowrap; width: 100%;">&nbsp;{{ top_driver.WM_DRIVERNAME }}&nbsp;</td>
							<td class="bg2" align="center">&nbsp;{{ top_driver.WM_POINTS }}&nbsp;</td>
						</tr>
						{% endfor %}
						<tr>
							<td valign="middle" colspan="3" align="center"><small>[<a href="{{ U_TOP_MORE_DRIVERS }}">{{ lang('FORMEL_TOP_MORE') }}</a>]</small></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

	<p style="clear:both;" />

	{% for racerow in racerows %}
	<h2>{{ lang('FORMEL_CURRENT_RACE') }}:&nbsp;&nbsp;&nbsp;{{ racerow.RACENAME }}</h2>

	<div >

		<div class="forumbg">
			<div class="inner">

					<br>
					{% if racegfx %}
					<div class="responsive-hide" style="text-align: center;">
						{{ racerow.RACEIMG }}
						<br>
						<br>
					</div>
					{% endif %}

					<div class="column1" style="text-align: center;">
						<input class="button1" type="submit" name="prev" value="{{ lang('FORMEL_PREV_RACE') }}" />
						<br>
						<br>
					</div>

					<div class="column2" style="text-align: center;">
						<input class="button1" type="submit" name="next" value="{{ lang('FORMEL_NEXT_RACE') }}" />
						<br>
						<br>
					</div>

			</div>
		</div>

		<div class=" forumbg">
			<div class="inner">

				<ul class="topiclist">
					<li class="header">
						<dl>
							<dt style="padding: 2px 10px; font-size : 1.2em;">{{ racerow.RACENAME }}</dt>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<li class="row">
						<dl style="font-size : 1.0em; font-weight: bold;">
							<dt style="padding: 2px 10px;">
								{{ lang('FORMEL_RACETIME') }}:
							</dt>
							<dd class="responsive-show-inline-block" style="padding: 2px 10px;">
								{{ racerow.RACETIME }}
							</dd>
						</dl>
					</li>
					<li class="row">
						<dl style="font-size : 1.0em; font-weight: bold;">
							<dt style="padding: 2px 10px; ">
								{{ lang('FORMEL_RACEDEAD') }}:
							</dt>
							<dd class="responsive-show-inline-block" style="padding: 2px 10px; color : #ff0000;">
								{{ racerow.RACEDEAD }}
							</dd>
						</dl>
					</li>
					{% if S_COUNTDOWN %}
					{% INCLUDEJS '@drdeath_f1webtip/f1webtip_countdown.js' %}
					{{ VAR_COUNTDOWN_STOP }}
					<li class="row">
						<dl style="font-size : 1.0em; font-weight: bold;">
							<dt id="time_event" style="display: ; padding: 2px 10px; white-space:nowrap;">
								{{ lang('DAYS') }}&nbsp;<input name="days" class="bg2" size="2" style="border: 0px; color:#ff0000; font-weight: bold;" />
								<span style="display:" id="time_string">{{ lang('HOURS') }}
									<input name="hours" class="bg2" size="2" style="border: 0px; color:#ff0000; font-weight: bold;" />:
									<input name="mins" class="bg2" size="2" style="border: 0px; color:#ff0000; font-weight: bold;" />:
									<input name="secs" class="bg2" size="2" style="border: 0px; color:#ff0000; font-weight: bold;" />
								</span>
							</dt>
							<dt id="event_time" style="display:none ; padding: 2px 10px;">
								{{ lang('FORMEL_DEADLINE_REACHED') }}
							</dt>
							<dd style="padding: 2px 10px; white-space:nowrap;">{{ lang('FORMEL_COUNTDOWN_DEADLINE') }}</dd>
						</dl>
					</li>
					{% endif %}
					<li class="responsive-hide row">
						<dl style="font-size : 1.0em; font-weight: bold;">
							<dt style="padding: 2px 10px;">
								{{ lang('FORMEL_RACELENGTH') }}:
							</dt>
							<dd style="padding: 2px 10px;">
								{{ racerow.RACELENGTH }}
							</dd>
						</dl>
						<dl style="font-size : 1.0em; font-weight: bold;">
							<dt style="padding: 2px 10px;">
								{{ lang('FORMEL_RACELAPS') }}:
							</dt>
							<dd style="padding: 2px 10px;">
								{{ racerow.RACELAPS }}
							</dd>
						</dl>
						<dl style="font-size : 1.0em; font-weight: bold;">
							<dt style="padding: 2px 10px;">
								{{ lang('FORMEL_RACEDISTANCE') }}:
							</dt>
							<dd style="padding: 2px 10px;">
								{{ racerow.RACEDISTANCE }}
							</dd>
						</dl>
						<dl style="font-size : 1.0em; font-weight: bold;">
							<dt style="padding: 2px 10px;">
								{{ lang('FORMEL_RACEDEBUT') }}:
							</dt>
							<dd style="padding: 2px 10px;">
								{{ racerow.RACEDEBUT }}
							</dd>
						</dl>
					</li>
				</ul>
				<br>

			</div>
		</div>

	</div>

	<p style="clear: both;" />

	{% endfor %}

	<div>
		<img src="{{ EXT_PATH_IMAGES }}spacer.gif" alt="" width="264" height="4" >
	</div>

	<div class="navbar bg3">
		<div class="inner">

			{{ lang('FORMEL_TIPPS_MADE') }}
			{% for tipp_made in tipps_made %}
			<a href="javascript:void(0)" onclick="javascript:showtipps('{{ tipp_made.USERTIPP }}')" {{ tipp_made.STYLE }}>{{ tipp_made.USERNAME }}</a>{{ tipp_made.SEPARATOR }}
			{% endfor %}
			{% if no_tipps_made %}
			{{ lang('FORMEL_NO_TIPPS') }}
			{% endif %}

		</div>
	</div>

	<div>
		<img src="{{ EXT_PATH_IMAGES }}spacer.gif" alt="" width="264" height="4" >
	</div>

	<div class="forumbg">
		<div class="inner">

			<table width="100%" cellpadding="0" cellspacing="1">
				<tr>
					<td {% if S_RESULT_EXISTS %}class="responsive-hide"{% endif %} valign="top">
						<table class="table1 tablef1" width="100%" >
							<thead>
								<tr>
									 <th colspan="2" align="center" ><strong>{{ lang('FORMEL_CURRENT_QUALI') }}</strong></th>
								</tr>
							</thead>
							<tbody>
								{% if no_qualifyings %}
								<tr class="bg1">
									 <td colspan="2" align="center">{{ lang('FORMEL_NO_QUALI') }}</td>
								</tr>
								{% endif %}
								{% for qualirow_gfx in qualirows_gfx %}
								{% if qualirow_gfx.S_ROW_COUNT < 10 %}
								<tr class="bg1">
								{% elseif qualirow_gfx.S_ROW_COUNT < 15 %}
								<tr class="bg2">
								{% else %}
								<tr class="bg3">
								{% endif %}
									<td align="center">{{ qualirow_gfx.DRIVERIMG }}</td>
									<td align="left" style="white-space:nowrap;">
										<strong>&nbsp;{{ qualirow_gfx.L_PLACE }}&nbsp;</strong>
										<br>
										&nbsp;{{ qualirow_gfx.DRIVERNAME }}&nbsp;
										<br>
										&nbsp;{{ qualirow_gfx.DRIVERTEAMNAME }}&nbsp;
									</td>
								</tr>
								{% endfor %}
								{% for qualirow in qualirows %}
								{% if qualirow.S_ROW_COUNT < 10 %}
								<tr class="bg1">
								{% elseif qualirow.S_ROW_COUNT < 15 %}
								<tr class="bg2">
								{% else %}
								<tr class="bg3">
								{% endif %}
									 <td align="right" style="white-space:nowrap;"><strong>&nbsp;{{ qualirow.L_PLACE }}&nbsp;</strong></td>
									 <td align="left" style="white-space:nowrap;">&nbsp;{{ qualirow.DRIVERNAME }}&nbsp;</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</td>
					<td {% if not S_RESULT_EXISTS %}class="responsive-hide"{% endif %} valign="top">
						<table class="table1 tablef1" style="width: 100%;">
							<thead>
								<tr>
									<th colspan="2" align="center" ><strong>{{ lang('FORMEL_CURRENT_RESULT') }}</strong></th>
								</tr>
							</thead>
							<tbody>
								{% if no_results %}
								<tr class="bg1">
									<td colspan="2" align="center">{{ lang('FORMEL_NO_RESULTS') }}</td>
								</tr>
								{% endif %}
								{% for resultrow_gfx in resultsrow_gfx %}
								{% if resultrow_gfx.S_ROW_COUNT < 3 %}
								<tr class="bg1">
								{% else %}
								<tr class="bg2">
								{% endif %}
									<td align="center">{{ resultrow_gfx.DRIVERIMG }}</td>
									<td align="left" style="white-space:nowrap;">
										<strong>&nbsp;{{ resultrow_gfx.L_PLACE }}</strong>
										<br>
										&nbsp;{{ resultrow_gfx.DRIVERNAME }}&nbsp;
										<br>
										&nbsp;{{ resultrow_gfx.DRIVERTEAMNAME }}&nbsp;
									</td>
								</tr>
								{% endfor %}
								{% for resultrow in resultsrow %}
								{% if resultrow.S_ROW_COUNT < 3 %}
								<tr class="bg1">
								{% else %}
								<tr class="bg2">
								{% endif %}
									<td align="right"><strong>&nbsp;{{ resultrow.L_PLACE }}</strong></td>
									<td align="left" style="white-space:nowrap;">&nbsp;{{ resultrow.DRIVERNAME }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% for extended_result in extended_results %}
								<tr class="bg1">
									<td align="right">&nbsp;<strong>{{ lang('FORMEL_PACE') }}:</strong></td>
									<td align="left">&nbsp;{{ extended_result.PACE }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td align="right">&nbsp;<strong>{{ lang('FORMEL_TIRED') }}:</strong></td>
									<td align="left">&nbsp;{{ extended_result.TIRED }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td align="right">&nbsp;<strong>{{ lang('FORMEL_SAFETYCAR') }}:</strong></td>
									<td align="left">&nbsp;{{ extended_result.SAFETYCAR }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% for extended_result_gfx in extended_results_gfx %}
								<tr class="bg1">
									<td align="right">&nbsp;<strong>{{ lang('FORMEL_PACE') }}:</strong></td>
									<td align="left">&nbsp;{{ extended_result_gfx.PACE }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td align="right">&nbsp;<strong>{{ lang('FORMEL_TIRED') }}:</strong></td>
									<td align="left">&nbsp;{{ extended_result_gfx.TIRED }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td align="right">&nbsp;<strong>{{ lang('FORMEL_SAFETYCAR') }}:</strong></td>
									<td align="left">&nbsp;{{ extended_result_gfx.SAFETYCAR }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% if extended_results %}
								<tr class="bg1">
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								{% endif %}
								{% if extended_results_gfx %}
								<tr class="bg1">
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
					</td>
					<td valign="top">
						<table class="table1 tablef1" style="width: 100%;">
							<thead>
								<tr>
									<th colspan="3" align="center" ><strong>{{ lang('FORMEL_YOUR_TIPP') }}</strong></th>
								</tr>
							</thead>
							<tbody>
								{% for user_tipp in users_tipp %}
								{% if user_tipp.S_ROW_COUNT < 3 %}
								<tr class="bg1">
								{% else %}
								<tr class="bg2">
								{% endif %}
									<td  align="right"><strong>&nbsp;{{ user_tipp.L_PLACE }}:</strong></td>
									<td style="white-space:nowrap;" align="left">&nbsp;{{ user_tipp.DRIVERCOMBO }}&nbsp;</td>
									<td class="responsive-hide" align="center">&nbsp;{{ user_tipp.SINGLE_POINTS }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% for gfx_user_tipp in gfx_users_tipp %}
								{% if gfx_user_tipp.S_ROW_COUNT < 3 %}
								<tr class="bg1">
								{% else %}
								<tr class="bg2">
								{% endif %}
									<td  align="right">{{ gfx_user_tipp.GFXDRIVERCOMBO }}</td>
									<td style="white-space:nowrap;" align="left">
										<strong>{{ gfx_user_tipp.L_PLACE }}</strong>
										&nbsp;{{ gfx_user_tipp.DRIVERCOMBO }}
										{{ gfx_user_tipp.DRIVERTEAMNAME }}
									</td>
									<td class="responsive-hide" align="center">&nbsp;{{ gfx_user_tipp.SINGLE_POINTS }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% for extended_user_tipp in extended_users_tipp %}
								<tr class="bg1">
									<td  align="right"><strong>&nbsp;{{ lang('FORMEL_PACE') }}:</strong></td>
									<td  align="left">&nbsp;{{ extended_user_tipp.DRIVERCOMBO }}&nbsp;</td>
									<td class="responsive-hide" align="center">&nbsp;{{ extended_user_tipp.SINGLE_FASTEST }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td align="right"><strong>&nbsp;{{ lang('FORMEL_TIRED') }}:</strong></td>
									<td align="left">&nbsp;{{ extended_user_tipp.TIREDCOMBO }}&nbsp;</td>
									<td class="responsive-hide" align="center">&nbsp;{{ extended_user_tipp.SINGLE_TIRED }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td align="right"><strong>&nbsp;{{ lang('FORMEL_SAFETYCAR') }}:</strong></td>
									<td align="left">&nbsp;{{ extended_user_tipp.SAFETYCARCOMBO }}&nbsp;</td>
									<td class="responsive-hide" align="center">&nbsp;{{ extended_user_tipp.SINGLE_SAFETY_CAR }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% for extended_user_tipp_gfx in extended_users_tipp_gfx %}
								<tr class="bg1">
									<td align="right"><strong>&nbsp;{{ lang('FORMEL_PACE') }}:</strong></td>
									<td align="left">&nbsp;{{ extended_user_tipp_gfx.DRIVERCOMBO }}&nbsp;</td>
									<td class="responsive-hide" align="center">&nbsp;{{ extended_user_tipp_gfx.SINGLE_FASTEST }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td align="right"><strong>&nbsp;{{ lang('FORMEL_TIRED') }}:</strong></td>
									<td align="left">&nbsp;{{ extended_user_tipp_gfx.TIREDCOMBO }}&nbsp;</td>
									<td class="responsive-hide" align="center">&nbsp;{{ extended_user_tipp_gfx.SINGLE_TIRED }}&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td align="right"><strong>&nbsp;{{ lang('FORMEL_SAFETYCAR') }}:</strong></td>
									<td align="left">&nbsp;{{ extended_user_tipp_gfx.SAFETYCARCOMBO }}&nbsp;</td>
									<td class="responsive-hide" align="center">&nbsp;{{ extended_user_tipp_gfx.SINGLE_SAFETY_CAR }}&nbsp;</td>
								</tr>
								{% endfor %}
								{% for add_tipp in add_tipps %}
								{% if add_tipp.S_ROW_COUNT < 3 %}
								<tr class="bg1">
								{% else %}
								<tr class="bg2">
								{% endif %}
									<td align="right"><strong>&nbsp;{{ add_tipp.L_PLACE }}&nbsp;</strong></td>
									<td align="left">&nbsp;{{ add_tipp.DRIVERCOMBO }}</td>
									<td align="left">&nbsp;</td>
								</tr>
								{% endfor %}
								{% for extended_add_tipp in extended_add_tipps %}
								<tr class="bg1">
									<td align="right"><strong>&nbsp;{{ lang('FORMEL_PACE') }}:</strong></td>

									<td align="left">&nbsp;{{ extended_add_tipp.DRIVERCOMBO }}&nbsp;</td>
									<td align="left">&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td align="right"><strong>&nbsp;{{ lang('FORMEL_TIRED') }}:</strong></td>
									<td align="left">&nbsp;{{ extended_add_tipp.TIREDCOMBO }}&nbsp;</td>
									<td align="left">&nbsp;</td>
								</tr>
								<tr class="bg1">
									<td align="right"><strong>&nbsp;{{ lang('FORMEL_SAFETYCAR') }}:</strong></td>
									<td align="left">&nbsp;{{ extended_add_tipp.SAFETYCARCOMBO }}&nbsp;</td>
									<td align="left">&nbsp;</td>
								</tr>
								{% endfor %}
								{% for extended_result in extended_results %}
								<tr class="bg1">
									<td align="right"><span style="color:#009900"><strong>&nbsp;{{ lang('FORMEL_YOUR_POINTS') }}:</strong></span></td>
									<td class="responsive-hide" align="left">&nbsp;</td>
									<td align="center"><span style="color:#009900"><strong>&nbsp;{{ extended_result.YOUR_POINTS }}</strong></span></td>
								</tr>
								{% endfor %}
								{% for extended_result_gfx in extended_results_gfx %}
								<tr class="bg1">
									<td align="right"><span style="color:#009900"><strong>&nbsp;{{ lang('FORMEL_YOUR_POINTS') }}:</strong></span></td>
									<td class="responsive-hide" align="left">&nbsp;</td>
									<td align="center"><span style="color:#009900"><strong>&nbsp;{{ extended_result_gfx.YOUR_POINTS }}</strong></span></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</td>
				</tr>
			</table>

			<input type="hidden" name="race_offset" value="{{ RACE_OFFSET }}" />
			<input type="hidden" name="race_id" value="{{ RACE_ID }}" />
			<input type="hidden" name="tipp_time" value="{{ RACE_TIME }}" />
			<input type="hidden" name="racename" value="{{ RACENAME }}" />
			{{ S_FORM_TOKEN }}

			{% for place_tipp in place_tipps %}
			<br>
			<div class="navbar bg3" style="text-align: center;">
				<br>
				<input class="button1" type="submit" name="{{ place_tipp.PLACE_TIPP }}" value="{{ place_tipp.L_PLACE_TIPP }}" />{{ place_tipp.DELETE_TIPP }}
				<br>
				<br>
			</div>
			{% endfor %}
			{% if games_over %}
			<br>
			<div class="navbar bg3" style="text-align: center;">
				<br>
				{{ lang('FORMEL_GAME_OVER') }}
				<br>
				<br>
			</div>
			{% endif %}

		</div>
	</div>

</form>
{% endif %}


{% if S_RESULTS %}
<h2>{{ lang('FORMEL_RESULTS_TITLE') }}</h2>
{{ lang('FORMEL_RESULTS_TITLE_EXP') }}

<div class="forumbg">
	<div class="inner">

		<table class="table1 tablef1">
			<thead>
				<tr>
					<th colspan="2"><strong>{{ lang('FORMEL_RACENAME') }}</strong></th>
					<th><strong>{{ lang('FORMEL_CURRENT_QUALI') }}</strong></th>
					<th><strong>{{ lang('FORMEL_CURRENT_RESULT') }}</strong></th>
				</tr>
			</thead>
			<tbody>
			{% for racerow_gfxr in racerows_gfxr %}
				{% if racerow_gfxr.S_ROW_COUNT is even %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td style="white-space:nowrap;" align="center" valign="middle">
						&nbsp;{{ racerow_gfxr.RACEIMG }}&nbsp;
					</td>
					<td style="width: 100%; white-space:nowrap;" align="left" valign="middle">
						<strong>{{ racerow_gfxr.RACENAME }}</strong>
						<br>
						<strong>{{ lang('TIME') }}:</strong> {{ racerow_gfxr.RACETIME }}
						<br>
						<strong>{{ lang('FORMEL_RACEDEAD') }}:</strong> {{ racerow_gfxr.RACEDEAD }}
					</td>
					<td style="white-space:nowrap;" align="center" valign="middle">
						<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
							<div>
								&nbsp;{{ racerow_gfxr.QUALI_BUTTONS }}&nbsp;
								<input type="hidden" name="race_id" value="{{ racerow_gfxr.RACEID }}" />
								<input type="hidden" name="racename" value="{{ racerow_gfxr.RACENAME }}" />
								{{ S_FORM_TOKEN }}
							</div>
						</form>
					</td>
					<td style="white-space:nowrap;" align="center" valign="middle">
						<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
							<div>
								&nbsp;{{ racerow_gfxr.RESULT_BUTTONS }}&nbsp;
								<input type="hidden" name="race_id" value="{{ racerow_gfxr.RACEID }}" />
								<input type="hidden" name="racename" value="{{ racerow_gfxr.RACENAME }}" />
								{{ S_FORM_TOKEN }}
							</div>
						</form>
					</td>
				</tr>
			{% endfor %}
			{% for racerow in racerows %}
				{% if racerow.S_ROW_COUNT is even %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td colspan="2" style="width: 100%; white-space:nowrap;" align="left" valign="middle">
						<strong>{{ racerow.RACENAME }}</strong>
						<br>
						<strong>{{ lang('TIME') }}:</strong> {{ racerow.RACETIME }}
						<br>
						<strong>{{ lang('FORMEL_RACEDEAD') }}:</strong> {{ racerow.RACEDEAD }}
					</td>
					<td style="white-space:nowrap;" align="center" valign="middle">
						<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
							<div>
								&nbsp;{{ racerow.QUALI_BUTTONS }}&nbsp;
								<input type="hidden" name="race_id" value="{{ racerow.RACEID }}" />
								{{ S_FORM_TOKEN }}
							</div>
						</form>
					</td>
					<td style="white-space:nowrap;" align="center" valign="middle">
						<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
							<div>
								&nbsp;{{ racerow.RESULT_BUTTONS }}&nbsp;
								<input type="hidden" name="race_id" value="{{ racerow.RACEID }}" />
								{{ S_FORM_TOKEN }}
							</div>
						</form>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

	</div>
</div>
{% endif %}


{% if S_ADDRESULTS %}

{% INCLUDEJS '@drdeath_f1webtip/f1webtip_functions.js' %}
{{ VAR_PLACES }}

<h2>{{ lang('FORMEL_RESULTS_TITLE') }}</h2>
{{ lang('FORMEL_RESULTS_TITLE_EXP') }}

<div class="forumbg">
	<div class="inner">

		<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
			<table class="table1">
				{% if qualifications %}
				<thead>
					<tr>
						<th colspan="2"><strong>{{ lang('FORMEL_RESULTS_QUALI_TITLE') }}</strong></th>
					</tr>
				</thead>
				<tbody>
				{% endif %}
				{% for qualirow in qualirows %}
					{% if qualirow.S_ROW_COUNT < 10 %}
					<tr class="bg1">
					{% elseif qualirow.S_ROW_COUNT < 15 %}
					<tr class="bg2">
					{% else %}
					<tr class="bg3">
					{% endif %}
						<td style="width: 50%;" align="right" valign="middle">{{ qualirow.L_PLACE }}&nbsp;</td>
						<td style="width: 50%;" align="left"  valign="middle">&nbsp;{{ qualirow.DRIVERCOMBO }}</td>
					</tr>
				{% endfor %}
				{% if qualifications %}
					<tr>
						<td style="white-space:nowrap;" class="bg3" align="center" colspan="2" valign="middle">&nbsp;<input class="button1" type="submit" name="addquali" value="{{ lang('FORMEL_RESULTS_ADD') }}" />&nbsp;</td>
					</tr>
				{% endif %}
				{% if results %}
				<thead>
					<tr>
						<th colspan="2"><strong>{{ lang('FORMEL_RESULTS_RESULT_TITLE') }}</strong></th>
					</tr>
				</thead>
				<tbody>
				{% endif %}
				{% for resultrow in resultsrow %}
					{% if resultrow.S_ROW_COUNT < 3 %}
					<tr class="bg1">
					{% else %}
					<tr class="bg3">
					{% endif %}
						<td style="width: 50%;" align="right">{{ resultrow.L_PLACE }}&nbsp;</td>
						<td style="width: 50%;" align="left">&nbsp;{{ resultrow.DRIVERCOMBO }}</td>
					</tr>
					{% endfor %}
					{% for result in results %}
					<tr class="bg1">
						<td style="width: 50%;" align="right">{{ lang('FORMEL_PACE') }}&nbsp;</td>
						<td style="width: 50%;" align="left">&nbsp;{{ result.PACECOMBO }}</td>
					</tr>
					<tr class="bg1">
						<td style="width: 50%;" align="right">{{ lang('FORMEL_TIRED') }}&nbsp;</td>
						<td style="width: 50%;" align="left">&nbsp;{{ result.TIREDCOMBO }}</td>
					</tr>
					<tr class="bg1">
						<td style="width: 50%;" align="right">{{ lang('FORMEL_SAFETYCAR') }}&nbsp;</td>
						<td style="width: 50%;" align="left">&nbsp;{{ result.SAFETYCARCOMBO }}</td>
					</tr>
					<tr class="bg1">
						<td style="width: 50%;" align="right">{{ lang('FORMEL_RACE_ABORD') }}&nbsp;</td>
						<td style="width: 50%;" align="left">&nbsp;<input type="radio" name="race_abort" value="1" />&nbsp;{{ lang('YES') }}&nbsp;&nbsp;<input type="radio" name="race_abort" value="0" checked />&nbsp;{{ lang('NO') }}&nbsp;</td>
					</tr>
					<tr class="bg1">
						<td style="width: 50%;" align="right">{{ lang('FORMEL_RACE_DOUBLE') }}&nbsp;</td>
						<td style="width: 50%;" align="left">&nbsp;<input type="radio" name="race_double" value="1" />&nbsp;{{ lang('YES') }}&nbsp;&nbsp;<input type="radio" name="race_double" value="0" checked />&nbsp;{{ lang('NO') }}&nbsp;</td>
					</tr>
					<tr class="bg3">
						<td align="center" colspan="2"><input class="button1" type="submit" name="{{ result.MODE }}" value="{{ lang('FORMEL_RESULTS_ADD') }}" /></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<div>
				<input type="hidden" name="race_id" value="{{ RACE_ID }}" />
				<input type="hidden" name="racename" value="{{ RACENAME }}" />
				{{ S_FORM_TOKEN }}
			</div>
		</form>

	</div>
</div>
{% endif %}


{% if S_RULES %}
<h2>{{ lang('FORMEL_TITLE') }}</h2>

<div class="forumbg">
	<div class="inner">

		<div style="text-align: center;">
			{% if heads_on %}
			<div class="responsive-hide">
				<br>
				<img src="{{ HEADER_IMG }}" width="{{ HEADER_WIDTH }}" height="{{ HEADER_HEIGHT }}" alt="" >
			</div>
			{% endif %}
			<br>
			<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
				<div>
					<br>
					<input class="button1" type="button" onclick="window.location.href='{{ U_FORMEL_INDEX }}'" value="{{ lang('FORMEL_BACK_TO_TIPP') }}" />
				</div>
			</form>
			<br>
		</div>

	</div>
</div>

<div class="forumbg">
	<div class="inner">

		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt style="font-size : 1.2em;">{{ lang('FORMEL_RULES_TITLE') }}</dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<li class="row">
				<dl>
					<dt style="padding: 5px 12px; font-size : 1.2em; font-weight: bold;">
						{{ lang('FORMEL_RULES_GENERAL') }}
					</dt>
					<dd class="responsive-show" style="margin-bottom: 0; padding: 5px 12px; font-size : 1.2em;">
						{{ lang('FORMEL_RULES_GENERAL_EXP') }}<br>
					</dd>
				</dl>
			</li>

			<li class="row">
				<dl>
					<dt style="padding: 5px 12px; font-size : 1.2em; font-weight: bold;">
						{{ lang('FORMEL_RULES_SCORE') }}
					</dt>
					<dd class="responsive-show" style="margin-bottom: 0; padding: 5px 12px; font-size : 1.2em;">
						{{ lang('FORMEL_RULES_SCORE_EXP') }}
						<br>
						<br>
						- {{ FORMEL_RULES_MENTIONED }}
						<br>
						- {{ FORMEL_RULES_PLACED }}
						<br>
						- {{ FORMEL_RULES_FASTEST }}
						<br>
						- {{ FORMEL_RULES_TIRED }}
						<br>
						- {{ FORMEL_RULES_SAFETYCAR }}
						<br>
						<br>
						{{ FORMEL_RULES_TOTAL }}
						<br>
					</dd>
				</dl>
			</li>
		</ul>

	</div>
</div>
{% endif %}

{% if S_STATS %}
<h2>{{ lang('FORMEL_STATS_TITLE') }}</h2>

<div class="forumbg">
	<div class="inner">

		<div style="text-align: center;">
			{% if heads_on %}
			<div class="responsive-hide">
				<br>
				<img src="{{ HEADER_IMG }}" width="{{ HEADER_WIDTH }}" height="{{ HEADER_HEIGHT }}" alt="" >
			</div>
			{% endif %}
			<br>
			<br>
			<form action="{{ S_FORM_ACTION }}" method="post" enctype="multipart/form-data">
				<div>
					<input class="button1" type="button" onclick="window.location.href='{{ U_BACK_TO_TIPP }}'" value="{{ lang('FORMEL_BACK_TO_TIPP') }}" />&nbsp;&nbsp;
					<input class="button1" type="submit" name="show_users" value="{{ lang('FORMEL_USER_STATS') }}" />&nbsp;&nbsp;
					<input class="button1" type="submit" name="show_drivers" value="{{ lang('FORMEL_DRIVER_STATS') }}" />&nbsp;&nbsp;
					<input class="button1" type="submit" name="show_teams" value="{{ lang('FORMEL_TEAM_STATS') }}" />
				</div>
			</form>
			<br>
			<br>
		</div>

	</div>
</div>

<h2><strong>{{ lang('STAT_TABLE_TITLE') }}</strong></h2>

<div class="forumbg">
	<div class="inner">

		<table class="table1 tablef1">
			{% for top_tipper in top_tippers %}
			{% if top_tipper.S_ROW_COUNT == 0 %}
			<thead>
				<tr>
					<th ><strong>{{ lang('FORMEL_PLACE') }}</strong></th>
					{% if top_tipper.S_AVATAR_SWITCH == true %}
					<th align="center"><strong>{{ lang('USER_AVATAR') }}</strong></th>
					{% endif %}
					<th align="center"><strong>{{ lang('USERNAME') }}</strong></th>
					<th align="center"><strong>{{ lang('FORMEL_TOP_POINTS') }}</strong></th>
				</tr>
			</thead>
			<tbody>
			{% endif %}
				{% if top_tipper.S_ROW_COUNT < 3 %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td align="center" valign="middle">{{ top_tipper.RANK }}</td>
					{% if top_tipper.S_AVATAR_SWITCH == true %}
					<td style="width: {{ top_tippers.TIPPER_AVATAR_WIDTH }}px; height: {{ top_tippers.TIPPER_AVATAR_HEIGHT }}; text-align: center;" valign="middle">{{ top_tipper.TIPPER_AVATAR }}</td>
					{% endif %}
					<td style="white-space:nowrap;" align="center" valign="middle">{{ top_tipper.TIPPER_NAME }}</td>
					<td align="center" valign="middle" >{{ top_tipper.TIPPER_POINTS }}</td>
				</tr>
			{% endfor %}

			{% for top_driver_gfx in top_drivers_gfx %}
			{% if top_driver_gfx.S_ROW_COUNT == 0 %}
			<thead>
				<tr>
					<th align="center"><strong>{{ lang('FORMEL_PLACE') }}</strong></th>
					<th align="center"><strong>{{ lang('ACP_F1_TEAMS_ADDTEAM_TEAMIMAGE') }}</strong></th>
					<th align="center"><strong>{{ lang('ACP_F1_TEAMS_ADDTEAM_TEAMCAR') }}</strong></th>
					<th align="center"><strong>{{ lang('ACP_F1_DRIVERS_DRIVERIMAGE') }}</strong></th>
					<th style="width: 50%;" align="center" ><strong>{{ lang('ACP_F1_DRIVERS_DRIVERNAME') }}</strong></th>
					<th align="center"><strong>{{ lang('FORMEL_TOP_POINTS') }}</strong></th>
				</tr>
			</thead>
			<tbody>
			{% endif %}
				{% if top_driver_gfx.S_ROW_COUNT < 3 %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td align="center" valign="middle">{{ top_driver_gfx.RANK }}</td>
					<td valign="middle" align="center">&nbsp;{{ top_driver_gfx.WM_DRIVERTEAM }}&nbsp;</td>
					<td valign="middle" align="center">&nbsp;{{ top_driver_gfx.WM_DRIVERCAR }}&nbsp;</td>
					<td valign="middle" align="center">&nbsp;{{ top_driver_gfx.WM_DRIVERIMG }}&nbsp;</td>
					<td align="center" style="width: 50%; white-space: nowrap;" valign="middle">&nbsp;{{ top_driver_gfx.WM_DRIVERNAME }}</td>
					<td align="center" valign="middle">{{ top_driver_gfx.WM_POINTS }}</td>
				</tr>
			{% endfor %}

			{% for top_driver in top_drivers %}
			{% if top_driver.S_ROW_COUNT == 0 %}
			<thead>
				<tr>
					<th align="center"><strong>{{ lang('FORMEL_PLACE') }}</strong></th>
					<th align="center" style="width: 50%;" ><strong>Name</strong></th>
					<th align="center"><strong>{{ lang('FORMEL_TOP_POINTS') }}</strong></th>
				</tr>
			</thead>
			<tbody>
			{% endif %}
				{% if top_driver.S_ROW_COUNT < 3 %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td align="center">{{ top_driver.RANK }}</td>
					<td align="center" style="width: 50%; white-space: nowrap;">&nbsp;{{ top_driver.WM_DRIVERNAME }}</td>
					<td align="center">{{ top_driver.WM_POINTS }}</td>
				</tr>
			{% endfor %}

			{% for top_team_gfx in top_teams_gfx %}
			{% if top_team_gfx.S_ROW_COUNT == 0 %}
			<thead>
				<tr>
					<th align="center"><strong>{{ lang('FORMEL_PLACE') }}</strong></th>
					<th align="center"><strong>{{ lang('ACP_F1_TEAMS_ADDTEAM_TEAMIMAGE') }}</strong></th>
					<th align="center"><strong>{{ lang('ACP_F1_TEAMS_ADDTEAM_TEAMCAR') }}</strong></th>
					<th style="width: 50%;" align="center"><strong>{{ lang('ACP_F1_TEAMS_ADDTEAM_TEAMNAME') }}</strong></th>
					<th align="center"><strong>{{ lang('FORMEL_TOP_POINTS') }}</strong></th>
				</tr>
			</thead>
			<tbody>
			{% endif %}
				{% if top_team_gfx.S_ROW_COUNT < 3 %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td align="center" valign="middle">{{ top_team_gfx.RANK }}</td>
					<td align="center" valign="middle">{{ top_team_gfx.WM_TEAMIMG }}</td>
					<td align="center" valign="middle">{{ top_team_gfx.WM_TEAMCAR }}</td>
					<td align="center" style="width: 50%; white-space: nowrap;" valign="middle">&nbsp;{{ top_team_gfx.WM_TEAMNAME }}</td>
					<td align="center" valign="middle">{{ top_team_gfx.WM_POINTS }}</td>
				</tr>
			{% endfor %}

			{% for top_team in top_teams %}
			{% if top_team.S_ROW_COUNT == 0 %}
			<thead>
				<tr>
					<th align="center"><strong>{{ lang('FORMEL_PLACE') }}</strong></th>
					<th style="width: 50%;" align="center"><strong>{{ lang('ACP_F1_TEAMS_ADDTEAM_TEAMNAME') }}</strong></th>
					<th align="center"><strong>{{ lang('FORMEL_TOP_POINTS') }}</strong></th>
				</tr>
			</thead>
			<tbody>
			{% endif %}
				{% if top_team.S_ROW_COUNT < 3 %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td align="center" valign="middle">{{ top_team.RANK }}</td>
					<td align="center" style="width: 50%; white-space: nowrap;" valign="middle">&nbsp;{{ top_team.WM_TEAMNAME }}</td>
					<td align="center" valign="middle">{{ top_team.WM_POINTS }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

	</div>
</div>
{% endif %}


<!--
Please leave the copyright information at the bottom of your page for our extension.
//-->
<div class="copyright" style="text-align: left;">
	&copy; <a href="http://www.lpi-clan.de">LPI-Clan</a> ( Dr.Death )
</div>

<!--
Please donate via paypal
//-->
<div style="text-align: center;">
	<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=F4HV6U5LZFBMN&source=url&item_name=Formel+1+Web+Tipp">
		<img src="{{ EXT_PATH_IMAGES }}f1webtip_paypal_button.gif" border="0" alt="PayPal - The safer, easier way to pay online!" >
	</a>
	<br>
	<br>
	{{ lang('FORMEL_DONATE') }}
</div>
<br>

{% INCLUDE 'overall_footer.html' %}

{% endif %}


{% if S_USERTIPP %}
{% INCLUDE 'simple_header.html' %}
<div>
	<div class="inner">
		<table class="tablef1">
			<thead>
				<tr>
					<th colspan="3">
						<strong>{{ lang('FORMEL_TITLE') }}</strong>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for user_tipp in user_tipps %}
				<tr class="bg3">
					<td colspan="3" align="center">{{ user_tipp.TIPPER }}</td>
				</tr>
				{% endfor %}
				{% for user_driver in user_drivers %}
				{% if user_driver.S_ROW_COUNT < 3 %}
				<tr class="bg1">
				{% else %}
				<tr class="bg2">
				{% endif %}
					<td style="width: 30%;" align="right"><strong>&nbsp;{{ user_driver.POSITION }}:&nbsp;</strong></td>
					<td style="width: 50%;">&nbsp;{{ user_driver.DRIVER_PLACED }}&nbsp;</td>
					<td style="width: 20%;">&nbsp;{{ user_driver.SINGLE_POINTS }}&nbsp;</td>
				</tr>
				{% endfor %}
				{% for user_tipp in user_tipps %}
				<tr class="bg1">
					<td style="width: 30%;" align="right"><strong>&nbsp;{{ lang('FORMEL_PACE') }}:&nbsp;</strong></td>
					<td style="width: 50%;">&nbsp;{{ user_tipp.FASTEST_DRIVER }}&nbsp;</td>
					<td style="width: 20%;">&nbsp;{{ user_tipp.SINGLE_FASTEST }}&nbsp;</td>
				</tr>
				<tr class="bg2">
					<td style="width: 30%;" class="row3" align="right"><strong>&nbsp;{{ lang('FORMEL_TIRED') }}:&nbsp;</strong></td>
					<td style="width: 50%;">&nbsp;{{ user_tipp.TIRED }}&nbsp;</td>
					<td style="width: 20%;">&nbsp;{{ user_tipp.SINGLE_TIRED }}&nbsp;</td>
				</tr>
				<tr class="bg1">
					<td style="width: 30%;" class="row3" align="right"><strong>&nbsp;{{ lang('FORMEL_SAFETYCAR') }}:&nbsp;</strong></td>
					<td style="width: 50%;">&nbsp;{{ user_tipp.SAFETYCAR }}&nbsp;</td>
					<td style="width: 20%;">&nbsp;{{ user_tipp.SINGLE_SAFETY_CAR }}&nbsp;</td>
				</tr>
				<tr class="bg3">
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr class="bg1">
					<td style="width: 50%;" align="right"><strong>&nbsp;{{ lang('FORMEL_POINTS_WON') }}:&nbsp;</strong></td>
					<td style="width: 50%;" align="right" colspan="2"><strong>&nbsp;{{ user_tipp.POINTS }}&nbsp;</strong></td>
				</tr>
				<tr class="bg2">
					<td style="width: 50%;" align="right"><strong>&nbsp;{{ lang('FORMEL_ALL_POINTS') }}:&nbsp;</strong></td>
					<td style="width: 50%;" align="left" colspan="2">&nbsp;{{ user_tipp.ALL_POINTS }}&nbsp;</td>
				</tr>
				{% endfor %}
				{% if no_tipps %}
				<tr>
					<td class="row1" align="center" colspan="2">&nbsp;{{ lang('FORMEL_NO_TIPP') }}&nbsp;</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
		<br>
		<div style="text-align: center;">
			<p class="submit-buttons">
				<input class="button1" id="submit" type="submit" onclick="javascript:window.close()" value="{{ lang('FORMEL_CLOSE_WINDOW') }}" />
			</p>
		</div>
		<br>

	</div>
</div>
{% INCLUDE 'simple_footer.html' %}
{% endif %}
